{% extends 'base.html.twig' %}

{% block title %}Demande d'offre
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/quotation_request.css">
{% endblock %}


{% block body %}
	<main class="d-flex part-js-filter justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="ms-2">
			<section class="d-flex justify-content-start align-items-center flex-wrap">
				<h1 class="page-title me-5 mb-4">Demande d'offre</h1>
				<div>
					{# <a class="btn btn-primary btn-sm mb-2" href="{{ path('parts_to_buy') }}" role="button">Liste pièces réappro</a> #}
				</div>
			</section>
			<section>
				{% include 'request/_modaleNewProvider.html.twig' %}
				<div class="mb-5">
					<div class="d-flex justify-content-start align-items-start">
						<p class="titre_fournisseur me-5">Fournisseur :</p>
						<a id="moreProviderBtn" class="btn btn-primary btn-sm" role="button">Ajouter fournisseur</a>
					</div>
					<form class="mb-5" method="post" action="{{ path('quotation-parts-select') }}">
						<div id="providerContainer" class="d-flex flex-column justify-content-start align-items-baseline mb-4">
							<div id="singleProviderContainer" class="d-flex justify-content-start align-items-center">
								<input class="me-4" type="text" name="provider_name[]" value="{{ provider.name }}"/>
								<input type="hidden" name="provider_id[]" value="{{provider.id}}"/>
								<input type="hidden" name="provider_email[]" value="{{provider.email}}"/>
								{% if provider.email %}
									<p class="emailAddress">Email :
										{{ provider.email }}</p>
								{% else %}
									<p>Il n'a pas été attribué d'email à ce fournisseur</p>
								{% endif %}
							</div>
						</div>
						<div class="mb-5">
							<table class="table table-striped table-bordered">
								{% for part in parts %}
									<tr class="ligne">
										<td class="text-left">{{ part.code }}</td>
										<td class="text-center">{{ part.designation }}</td>
										<td class="text-center">{{ part.reference }}</td>
										<td class="qte text-center"><input class="part_qte" type="number" name="quantities[{{ part.id }}]" value="{{ part.stock.qteMax - part.stock.qteStock }}"/></td>
										<td class="set text-center"><input type="checkbox" name="selected_parts[]" value="{{ part.id }}" checked></td>
										<td class="price text-left">
											<span>Px un. :</span>
											<span>{{ part.steadyPrice }}</span>
											<span>€</span>
										</td>
										<td class="totalPrice text-left">
											<span>Px tot. :
											</span>
											<span></span>
											<span>€</span>
										</td>
									</tr>
								{% endfor %}
								<tr>
									<td colspan="6"></td>
									<td>
										<span>Px tot :
										</span>
										<span id="totalPrice"></span>
										<span>€</span>
									</td>
								</tr>
							</table>
							<div class="d-flex justify-content-start align-items-top">
								<div class="d-flex justify-content-start align-items-top">
									<label class="me-2" for="startMessage">
										<strong>Message début :
										</strong>
									</label>
									<textarea name="startMessage" rows="2" cols="35">{{ startMessage }}</textarea>
								</div>
								<div class="d-flex justify-content-start align-items-top ms-2">
									<label class="me-2" for="endMessage">
										<strong>Message fin :
										</strong>
									</label>
									<textarea name="endMessage" rows="2" cols="35">{{ endMessage }}</textarea>
								</div>
							</div>
						</div>
						<button class="btn btn-primary" type="submit">Demande de prix</button>
					</form>
				</section>
			</article>
		</main>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		<script src="/assets/js/priceRequestQte.js" defer></script>
		<script src="/assets/js/priceRequestProvider.js" defer></script>
	{% endblock %}
