{% extends 'base.html.twig' %}

{% block title %}Demande d'offre
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/quotation_request.css">
{% endblock %}


{% block body %}
	<main class="d-flex part-js-filter justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="ms-2 col-8">
			<section class="d-flex justify-content-start align-items-center flex-wrap">
				<h1 class="page-title me-5 mb-4">Demande d'offre</h1>
				<div>
					{# <a class="btn btn-primary btn-sm mb-2" href="{{ path('parts_to_buy') }}" role="button">Liste pièces réappro</a> #}
				</div>
			</section>
			<section>
				{# Modales #}
				{% include 'request/_modalNewProvider.html.twig' %}
				{% include 'request/_modalNewPart.html.twig' %}

				{# Fournisseurs #}
				<div class="mb-5">
					<div class="d-flex justify-content-start align-items-start mb-4">
						<p class="titre_fournisseur me-5">Fournisseur :</p>
						<a id="moreProviderBtn" class="btn btn-primary btn-sm" role="button">Ajouter fournisseur</a>
					</div>
					<form class="mb-5 mt-3" method="post" action="{{ path('quotation-parts-select') }}">
						<div id="globalProviderContainer" class="d-flex flex-column justify-content-start align-items-baseline mb-4">
							<div id="firstProviderContainer" class="d-flex justify-content-start align-items-center ">
								{% if provider.email %}
									<input class="me-4" type="text" name="provider_name[]" readonly value="{{ provider.name }}"/>
								{% else %}
									<input class="me-4 red_class" type="text" name="provider_name[]" readonly value="{{ provider.name }}"/>
								{% endif %}
								<input class="champ_cache" type="text" name="provider_id[]" value="{{ provider.id }}"/>
								<input class="champ_cache" type="text" name="provider_email[]" value="{{ provider.email ? provider.email }}"/>
							</div>
						</div>

						{# pièces détachées #}
						<div class="d-flex justify-content-start align-items-start mb-4">
							<p class="titre_pièces me-5">Pièces détachées :</p>
							<a id="morePartsBtn" class="btn btn-primary btn-sm" role="button">Ajouter pièce</a>
						</div>
						<div class="mb-5">
							<table class="table table-striped">
								<body id="partList">
									{% for part in parts %}
										<tr class="ligne">
											<td>{{ part.code }}</td>
											<td class="text-center">{{ part.designation }}</td>
											<td class="text-center">{{ part.reference }}</td>
											<td class="qte"><input class="part_qte" type="number" name="quantities[{{ part.id }}]" value="{{ part.stock.qteMax - part.stock.qteStock }}"/></td>
											<td><input class="set" type="checkbox" name="selected_parts[]" value="{{ part.id }}" checked></td>
											<td>
												<span>Px un. :</span>
												<span>{{ part.steadyPrice }}</span>
												<span>€</span>
											</td>
											<td class="totalPrice">
												<span>prix un. :</span>
												<span></span>
												<span>€</span>
											</td>
										</tr>
									{% endfor %}
								</body>
							</table>
							<div id="totalGenPrice" class="text-end mt-2 mb-5">
								<strong>
									<span>Px tot :
									</span>
									<span></span>
									<span>€</span>
								</strong>
							</div>

							<div class="d-flex justify-content-start align-items-top">
								<div class="d-flex justify-content-start align-items-top">
									<label class="me-2" for="startMessage">
										<strong>Message début :
										</strong>
									</label>
									<textarea name="startMessage" rows="2" cols="35">{{ startMessage }}</textarea>
								</div>
								<div class="d-flex justify-content-start align-items-top ms-2">
									<label class="me-2" for="endMessage">
										<strong>Message fin :
										</strong>
									</label>
									<textarea name="endMessage" rows="2" cols="35">{{ endMessage }}</textarea>
								</div>
							</div>
						</div>
						<button class="btn btn-primary" type="submit">Demande de prix</button>
					</form>
				</section>
			</article>
		</main>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		<script src="/assets/js/priceRequestQte.js" defer></script>
		<script src="/assets/js/priceRequestProvider.js" defer></script>

	{% endblock %}
