<p>{{ startMessage|nl2br }}</p>


<ul>
	{% for part in parts %}
		<li>
			({{ part.quantities}}X)
			{{ part.part.designation }}
			{{ part.part.reference }}
		</li>
	{% endfor %}
</ul>

<p>{{ endMessage|nl2br }}</p>

<p>{{ app.user.firstName }}{{ app.user.lastName }}</p>

