{% extends 'base.html.twig' %}

{% block title %}Edition Bon de livraison{% endblock %}

{% block body %}
    <main class="d-flex justify-content-start mt-5">
        {% include 'user/_photo.html.twig' %}
        <article class="col-12 col-md-11 col-lg-10 col-xl-7">
            <header class="row justify-content-start align-items-base">
                <div class="col-10 col-sm-6 col-lg-5 col-xl-4">
                    <h3 class="text-primary">Edition Bon de livraison</h3>
                </div>
                <div class="col-10 col-sm-6 d-flex justify-content-start align-items-center">
                    <a class="btn btn-primary btn-sm me-3" href="{{ path('delivery_note_index') }}" role="button">Liste des BL</a>
                    {{ include('delivery_note/_delete_form.html.twig') }}
                </div>
            </header>
            <section>
                <div class="row justify-content-start align-items-center mt-5 col-12 col-sm-7">
                    <div class="col-6 col-sm-6">
                        <a class="btn btn-primary new-btn" href="{{ path('provider_index', {'mode': 'deliveryNoteChangeProv', 'documentId': deliveryNote.id}) }}">Fournisseur</a>
                    </div>
                    <div class="text-primary text-af-btn col-6 col-xl-6 border rounded p-2 text-center">
                        {{ deliveryNote.provider.name }}
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-12">
                        {{ include('delivery_note/_form.html.twig', {'button_label': 'Valider'}) }}
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}