{% extends 'base.html.twig' %}

{% block title %}DeliveryNote{% endblock %}

{% block body %}
    <h1>DeliveryNote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ delivery_note.id }}</td>
            </tr>
            <tr>
                <th>DeliveryNoteNumber</th>
                <td>{{ delivery_note.deliveryNoteNumber }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ delivery_note.date ? delivery_note.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('delivery_note_index') }}">back to list</a>

    <a href="{{ path('delivery_note_edit', {'id': delivery_note.id}) }}">edit</a>

    {{ include('delivery_note/_delete_form.html.twig') }}
{% endblock %}
