<table class="table table-striped table-sm">
    <tbody>
        {% for workorder in workorders %}
            {% if workorder.preventive and workorder.workorderStatus.name == "EN_PREP." %}
                <tr style="background-color: #81c2fb;">
            {% elseif workorder.preventive and workorder.workorderStatus.name == "EN_COURS" %}
                <tr style="background-color: #a0d93a;">
            {% elseif workorder.preventive and workorder.workorderStatus.name == "EN_RETARD" %}
                <tr style="background-color: #f92f2f;">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{path('work_order_show', {'id': workorder.id}) }}">{{ workorder.id }}</a></td>
                <td>{{ workorder.createdAt ? workorder.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    {% for machine in workorder.machines %}
                        {{ machine.designation }}
                    {% else %}
                        <p>Il n'y a pas de machine dans ce BT</p>
                    {% endfor %}
                </td>
                <td>{{ workorder.implementation}}</td>
                <td>{{ workorder.workorderStatus.name}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a pas de BT enregistrés</td>
            </tr>
        {% endfor %}
    </tbody>
</table>