{% extends 'base.html.twig' %}

{% block title %}Gmao PS bienvenue !{% endblock %}

{% block body %}
    <div class="row default">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="default-tiltle">
                        <p>Gestion maintenance PS</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="default-logo">
                        <img src="{{ asset('images/logo.png') }}" width="400" height="200" alt="Charcuterie Pierre Schmidt">            
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-11 mx-auto d-flex justify-content-around">
                    <a class="btn-default" href="{{ path('part_index') }}">Pièces détachées</a>
                    <a class="btn-default" href="{{ path('machine_index') }}">Machines</a>
                    <a class="btn-default" href="{{ path('work_order_index') }}" >Bons de travail</a>
                    <a class="btn-default" href="{{ path('delivery_note_index') }}" >Approvisionnement</a>
                    <a class="btn-default" href="{{ path('template_index') }}">Préventif</a>
                    <a class="btn-default" href="{{ path('onCall_index') }}">Astreintes</a>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="row mt-5">
                    <div class="col-6 mx-auto d-flex justify-content-around">
                        <a class="btn-default" href="{{ path('admin') }}">Administration</a>
                        <a class="btn-default" href="{{ path('app_register') }}">Inscription</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-6 default-right">
            <div class="text-center default-tiltle mt-3 mb-3">
                <span>La Team</span>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-around flex-wrap">
                    {% for user in users %}
                        <div class="d-flex flex-column">
                            {% if user.imageName %}
                                <a href="{{ path('user_profil', {'id': user.id}) }}"><img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('my_default_filter') }}" alt="Photo d'identité de {{ user.username }}" /></a>
                            {% else %}
                                <img src="{{ asset('/images/technicien.jpg') | imagine_filter('my_default_filter') }}" alt="Photo d'identité de {{ user.username }}" />
                            {% endif %}
                            <p class="text-center font-weight-bold">{{ user.firstName ~ " " ~ user.lastName }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

