{% extends 'base.html.twig' %}

{% block title %}Gmao PS Bienvenue ! !
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/style-base.css">
{% endblock %}


{% block body %}
	<div class="d-flex justify-content-around mt-5 mb-3 default-top-margin">
		<div class="col-10 col-lg-6">
			<div class="row">
				<h1 class="d-flex justify-content-center default-title">Maintenance PS</h1>
			</div>
			<div class="row text-center">
				<img class="default-logo" src="{{ asset('images/logo.png') }}" alt="Charcuterie Pierre Schmidt">
			</div>
			<div class="row mt-5 d-flex justify-content-around">
				<a class="btn-default" href="{{ path('part_index') }}">Let's go !</a>
			</div>
			<div class="row mt-5 justify-content-around">
				<div id="infoFrame" class="cadre-info-vert">
					<div class="text-center default-title">
						<h2>Infos :</h2>
					</div>
					<div class="text-left items-info">
						<span>Bt préventifs en retard :
							{{ lateBT }}
						</span>
						<span class="items-info-max">(max : 10)</span>
					</div>
					<div class="text-left items-info">
						<span>Pièces à commander :
							{{ partsToBuy }}
						</span>
						<span class="items-info-max">(max : 20)</span>
					</div>
					<div class="text-left items-info">
						<span>Pièces en retard :
							{{ lateParts }}
						</span>
						<span class="items-info-max">(max : 10)</span>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 45%;" class="displayMd col-6">
			<div class="text-center default-title mb-5">
				<h2>The Team</h2>
			</div>
			<div class="row">
				<div class="col-12 d-flex justify-content-around flex-wrap">
					{% for user in users %}
						<div class="d-flex flex-column">
							{% if user.imageName %}
								<a href="{{ path('user_profil', {'id': user.id}) }}"><img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('my_default_filter') }}" alt="Photo d'identité de {{ user.username }}"/></a>
							{% else %}
								<a href="{{ path('user_profil', {'id': user.id}) }}"><img src="{{ asset('/images/technicien.jpg') | imagine_filter('my_default_filter') }}" alt="Photo d'identité de {{ user.username }}"/></a>
							{% endif %}
							<p class="text-center font-weight-bold">{{ user.firstName ~ " " ~ user.lastName }}</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/assets/js/infosHomePage.js" defer></script>
	<script>
		// Définir les variables lateBT pour le script
var nbOfLateBT = {{ lateBT }};
var partsToBuy = {{ partsToBuy }};
var lateParts = {{ lateParts }};
	</script>
{% endblock %}
