{% extends 'base.html.twig' %}

{% block title %}
	Administration
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/admin_page.css">
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="mx-auto mt-5">
			<div class="mb-4 d-flex justify-content-center">
				<h2>Administration</h2>
			</div>
			<div class="d-flex flex-column align-items-center">
				<a href="{{ path('app_organisation_index') }}" class="btn  index-button" role="button">Organisations</a>
				<a href="{{ path('user_index') }}" class="btn  mt-2 index-button">Utilisateurs</a>
				<a href="{{ path('machine_index') }}" class="btn  mt-2 index-button" role="button">Equipements</a>
				<a href="{{ path('part_index') }}" class="btn  mt-2 index-button" role="button">Pièces détachées</a>
				<a href="{{ path('workshop_index') }}" class="btn  mt-2 index-button" role="button">Ateliers</a>
				<a href="{{ path('provider_index') }}" class="btn  mt-2 index-button" role="button">Fournisseurs</a>
				<a href="{{ path('provider_clean') }}" class="btn  mt-2 index-button" role="button">Nettoyage Fournisseurs</a>
				<a href="{{ path('service_index') }}" class="btn  mt-2 index-button" role="button">Services</a>
				<a href="{{ path('parts_value') }}" class="btn  mt-2 index-button" role="button">Infos stock</a>
				<a href="{{ path('app_register') }}" class="btn  mt-2 index-button" role="button">Inscription</a>
				{# <a href="{{ path('app_provider_org') }}" class="btn  mt-2 index-button" role="button">provider modif</a> #}

			</div>
		</div>
	{% endif %}
{% endblock %}
