{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mx-auto mt-5">
            <div class="mb-4 d-flex justify-content-center">
                <h2>Administration</h2>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="{{ path('app_organisation_index') }}" class="btn btn-primary btn-sm admin-button" role="button">Organisations</a>
                <a href="{{ path('user_index') }}" class="btn btn-primary btn-sm mt-2 admin-button">Utilisateurs</a>
                <a href="{{ path('machine_index') }}"   class="btn btn-primary btn-sm mt-2 admin-button" role="button">Machines</a>
                <a href="{{ path('part_index') }}"      class="btn btn-primary btn-sm mt-2 admin-button" role="button">Pièces détachées</a>
                <a href="{{ path('workshop_index') }}"  class="btn btn-primary btn-sm mt-2 admin-button" role="button">Ateliers</a>
                <a href="{{ path('provider_index') }}"  class="btn btn-primary btn-sm mt-2 admin-button" role="button">Fournisseurs</a>
                <a href="{{ path('service_index') }}"   class="btn btn-primary btn-sm mt-2 admin-button" role="button">Services</a>
                <a href="{{ path('parts_value') }}"     class="btn btn-primary btn-sm mt-2 admin-button" role="button">Infos stock</a>
                <a href="{{ path('app_register') }}"    class="btn btn-primary btn-sm mt-2 admin-button" role="button">Inscription</a>
                {# <a href="{{ path('preventif_rectif') }}" class="btn btn-primary btn-sm mt-2 admin-button" role="button">Preventive Rectif</a> #}
            </div>
        </div>
    {% endif %}
{% endblock %}
