<tr>
    <td>{{ form_widget(form.organisation) }}</td>
</tr>
<tr>
    <td>{{ form_widget(form.code) }}</td>
    <td>{{ form_widget(form.designation) }}</td>
    <td>{{ form_widget(form.reference) }}</td>
    <td>{{ form_widget(form.place) }}</td>
</tr>