<div>
    {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
    
        {% if form.organisation is defined %}
            <div class="d-flex">
                <div class="filterbtn">
                    {{ form_row(form.organisation)}}
                </div>
                <div>
                    <button class="resetBtn btn btn-primary">Reset</button>
                </div>
            </div>
        {% endif %}

        <div class="d-flex">
            <div class="filterbtn">
                {{ form_row(form.code)}}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>
       
        <div class="d-flex">
            <div class="filterbtn">
                {{ form_row(form.designation)}}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>

        <div class="d-flex">
            <div class="filterbtn">
                {{ form_row(form.reference)}}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>

        <div class="d-flex">
            <div class="filterbtn">
                {{ form_row(form.place)}}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary w-100">Filtrer</button>
        </div>
        
    {{ form_end(form) }}
</div>