<section class="mb-5">
	<div class="mt-4 mb-4">
		<h3>Pièce</h3>
		<div class="d-flex justify-content-start">
			<div class="d-flex justify-content-start">
				<p class="fw-bold me-3">Code :</p>
				<p>{{ part.code }}</p>
			</div>
			<div class="d-flex justify-content-start ms-5">
				{% if part.provider %}
					<p class="fw-bold me-3">Fournisseur :</p>
					<p>{{ part.provider.name }}</p>
				{% endif %}
			</div>
		</div>
		<div class="d-flex justify-content-start">
			<p class="fw-bold me-3">Designation :</p>
			<p>{{ part.designation }}</p>
		</div>
		<div class="d-flex justify-content-start">
			<p class="fw-bold me-3">Reference :</p>
			<p>{{ part.reference }}</p>
		</div>
	</div>

	<div class="mb-4">
		<h3>Stock</h3>
		<div class="d-flex justify-content-start">
			<div class="d-flex justify-content-start">
				<p class="fw-bold me-3">Qte :</p>
				<p>{{ part.stock.qteStock }}</p>
			</div>
			<div class="d-flex justify-content-start ms-5">
				<p class="fw-bold me-3">Qte Min :</p>
				<p>{{ part.stock.qteMin }}</p>
			</div>
			<div class="d-flex justify-content-start ms-5">
				<p class="fw-bold me-3">Qte Max :</p>
				<p>{{ part.stock.qteMax }}</p>
			</div>
			<div class="d-flex justify-content-start ms-5">
				<p class="fw-bold me-3">Emplacement :</p>
				<p>{{ part.stock.place }}</p>
			</div>
		</div>
	</div>

	<div class="mb-4">
		<h3>Divers</h3>
		<div class="d-flex justify-content-start">
			<p class="fw-bold me-3">Prix moyen :</p>
			<p>{{ part.steadyPrice|number_format(2) }}€</p>
		</div>
		<div class="d-flex justify-content-start">
			<p class="fw-bold me-3">Remarque :</p>
			<p>{{ part.remark }}</p>
		</div>
	</div>

	<div class="mb-4">
		<h3>Machines</h3>
		{% if part.machines is not empty %}
			{% for machine in part.machines %}
				<p>-
					{{ machine.internalCode ~ " " }}{{ machine.designation }}</p>
			{% endfor %}
		{% endif %}
	</div>

</section>
