{% for part in parts %}
    <tr>
        <td data-label="Code" class="font_size_table">
            {% if mode == 'workorderAddPart' %}
                {% if part.stock.qteStock > 0 and part.organisation == app.user.organisation %}
                    <a class="btn index-button text-center" href="{{ path('cart_add_workorder', {'id': part.id, 'mode': mode, 'documentId': documentId}) }}">{{ part.code }}</a>
                {% else %}
                    {{ part.code }}
                {% endif %}
            {% elseif mode == 'newDeliveryNote' %}
                <a class="btn index-button text-center" href="{{ path('cart_add_delivery_note', {'id': part.id, 'mode': mode}) }}">{{ part.code }}</a>
            {% elseif  mode == 'editDeliveryNote' %}
                <a class="btn index-button text-center" href="{{ path('cart_add_delivery_note', {'id': part.id, 'mode': mode, 'documentId': documentId}) }}">{{ part.code }}</a>
            {% else %}
                <a class="btn index-button text-center" href="{{ path('part_show', {'id': part.id}) }}">{{ part.code }}</a>
            {% endif %}
        </td>
        <td data-label="Designation" class="text-center font_size_table">{{ part.designation }}</td>
        <td data-label="Référence" class="text-center font_size_table">{{ part.reference }}</td>
        <td data-label="Emplacement" class="text-center font_size_table">{{ part.stock.place }}</td>
        <td data-label="Qte stock"
            {% if part.stock.qteStock < part.stock.qteMin %}
                class="text-center font_size_table text-danger">
            {% else %}
                class="text-center font_size_table">
            {% endif %}
            {{ part.stock.qteStock }}
        </td>
        <td  data-label="Qte en commande"class="text-center font_size_table">{{ part.stock.approQte }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">Il n'y a pas de pièce enregistrée</td>
    </tr>
{% endfor %}