{% for part in parts %}
    <tr>
        <td>{{ part.code }}</td>
        <td class="text-center">{{ part.designation }}</td>
        <td class="text-center">{{ part.reference }}</td>
        {% if part.stock.qteStock < part.stock.qteMin %}
            <td class="text-center text-danger">{{ part.stock.qteStock }}</td>
        {% else %}
            <td class="text-center">{{ part.stock.qteStock }}</td>
        {% endif %}
        <td class="text-center">{{ part.stock.place }}</td>
        <td class="text-center">
            {% if not addPart %}
                <a href="{{ path('part_edit', {'id': part.id}) }}"><i class="bi bi-pencil-square"></i></a>
            {% elseif part.stock.qteStock > 0 %}
                <a href="{{ path('cart_add', {'id': part.id, 'workorderId': workorderId}) }}"><i class="btn btn-primary btn-sm bi bi-plus-circle"></i></a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">Il n'y a pas de pièce enregistrée</td>
    </tr>
{% endfor %}