<table class="table table-sm">
    <thead>
        {% include 'part/_sorting.html.twig' %}
    </thead>
    <tbody>
        {% for part in parts %}
            <tr>
                <td><a href="{{ path('part_show', {'id': part.id}) }}">{{ part.code }}</a></td>
                <td class="text-center">{{ part.designation }}</td>
                <td class="text-center">{{ part.reference }}</td>
                {% if part.stock.qteStock < part.stock.qteMin %}
                    <td class="text-center rounded-circle bg-color-orange">{{ part.stock.qteStock }}</td>
                {% else %}
                    <td class="text-center">{{ part.stock.qteStock }}</td>
                {% endif %}
                <td class="text-center">{{ part.stock.place }}</td>
                <td class="text-center">
                    <a href="{{ path('part_edit', {'id': part.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a pas de pièce enregistrée</td>
            </tr>
        {% endfor %}
    </tbody>
</table>