<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(parts, 'Code', 'p.code') }}</th>
            <th> {{ knp_pagination_sortable(parts, 'Désignation', 'p.designation') }}</th>
            <th> {{ knp_pagination_sortable(parts, 'Référence', 'p.reference') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.code}}</td>
                <td>{{ part.designation}}</td>
                <td>{{ part.reference}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>