{% for part in parts %}
    <tr>
        <td class="font_size_table">
            {% if mode is defined and mode == 'workorderAddPart' %}
                {% if part.stock.qteStock != 0 %}
                    <a class="btn btn-sm btn-primary w-75" href="{{ path('cart_add', {'id': part.id, 'mode': mode, 'documentId': documentId}) }}">{{ part.code }}</a>
                {% else %}
                    {{ part.code }}
                {% endif %}
            {% elseif mode is defined and mode == 'receivedPart' %}
                   <a class="btn btn-sm btn-primary w-75" href="{{ path('cart_add', {'id': part.id, 'mode': mode, 'documentId': documentId}) }}">{{ part.code }}</a>
            {% else %}
                <a class="btn btn-sm btn-primary w-75" href="{{ path('part_edit', {'id': part.id}) }}">{{ part.code }}</a>
            {% endif %}
        </td>
        <td class="text-center font_size_table">{{ part.designation }}</td>
        <td class="text-center font_size_table">{{ part.reference }}</td>
        {% if part.stock.qteStock < part.stock.qteMin %}
            <td class="text-center text-danger font_size_table">{{ part.stock.qteStock }}</td>
        {% else %}
            <td class="text-center font_size_table">{{ part.stock.qteStock }}</td>
        {% endif %}
        <td class="text-center font_size_table">{{ part.stock.place }}</td>
        <td class="text-center font_size_table">{{ part.stock.approQte }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">Il n'y a pas de pièce enregistrée</td>
    </tr>
{% endfor %}