{% extends 'base.html.twig' %}

{% block title %}Pièces détachées
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/workorder-add-parts.css">
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">
			<header class="d-flex justify-content-start align-items-start flex-wrap mb-4">
				<div class="d-flex justify-content-start align-items-center flex-wrap me-5 mb-2">
					{% if mode == "workorderAddPart" %}
						<h1 class="page-title me-5">Pièces détachées -> BT</h1>
						<a class="btn btn-primary btn-sm" href="{{ path('work_order_show', {'id': documentId}) }}" role="button">Retour au BT</a>
					{% elseif mode == 'newDeliveryNote' or mode == 'editDeliveryNote' %}
						<h1 class="page-title me-5">Pièces détachées -> BL</h1>
						<a class="btn btn-primary btn-sm" href="{{ path('delivery_note_new') }}" role="button">Retour au BL</a>
					{% else %}
						<h1 class="page-title me-5">Pièces détachées</h1>
						<a class="btn btn-primary btn-sm" href="{{ path('part_new') }}" role="button">Nouvelle pièce</a>
					{% endif %}
				</div>

				{# Panier de pièces #}
				{% if mode == "workorderAddPart" or  mode == "newDeliveryNote" or mode == 'editDeliveryNote' %}
					{% if items is defined %}
						<div class="border border-primary rounded p-3">
							<div class="d-flex justify-content-start align-items-baseline">
								<span class="bag-title mb-3">Panier</span>
								<a href="{{ path('cart_valid', { 'mode': mode, 'documentId': documentId }) }}" class="ms-2 btn btn-primary btn-sm btn_panier">Valider</a>
								<a href="{{ path('cart_empty', { 'mode': mode, 'documentId': documentId }) }}" class="ms-2 btn btn-warning btn-sm btn_panier">vider</a>
							</div>
							{% for item in items %}
								<div class="items_display">
									<a href="{{ path('cart_remove', {'id': item.part.id, 'documentId': documentId, 'mode': mode}) }}" class="btn btn-sm btn-danger btn_supp me-2 mb-2">Supp</a>
									<strong>{{ item.quantity }}
										x
										{{ item.part.code }}&nbsp;:&nbsp;
									</strong>
									{{ item.part.designation }}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endif %}
			</header>

			<section class="row js-filter">
				<div class="col-12">
					{% include 'part/_partList.html.twig' with {parts: parts, documentId: documentId, mode: mode, form: form} only %}
					{# Navigation #}
					<div class="col-10 navigation js-filter-pagination mb-5">
						{% include 'part/_pagination.html.twig' %}
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
