{% extends 'base.html.twig' %}

{% block title %}Pièces détachées{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Stock</h1>
    
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-8 col-xl-8 mt-5">
            <canvas id="myChart"></canvas>
            <div class="mt-5 text-center">
                <h4>La valeur du stock est actuellement de : {{ totalStock|format_number }}€</h4>
            </div>
        </div>
    </div>
    
    <div class="date" data-chartDates="{{ dates }}"></div>
    <div class="amount" data-chartAmounts="{{ amounts }}"></div>
    
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    {{ encore_entry_script_tags('stockValueJschart') }}    
{% endblock %}
