{% extends 'base.html.twig' %}

{% block title %}Pièce détachée
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/part-show.css">
{% endblock %}


{% block body %}
	<div class="row part-js-filter justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">
			<section class="row justify-content-start align-items-center">
				<div class="mb-3 col-12 col-sm-4 col-md-5 col-lg-4 col-xl-3">
					<h1 class="page-title">Pièce détachée</h1>
				</div>
				<div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-6 mb-2">
					<div class="d-flex justify-content-start flex-wrap">
						<a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('part_index') }}" role="button">Liste pièces</a>
						<a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('part_edit', {'id': part.id}) }}">Edition</a>
						<a class="btn btn-warning btn-sm me-2 mb-2" href="{{ path('part_label', {'id': part.id}) }}">Etiquette</a>
						{{ include('part/_delete_form.html.twig') }}
						<a class="btn btn-info btn-sm mb-2" href="{{ path('show_appro', {'id': part.id}) }}">Appro</a>
					</div>
				</div>
			</section>
			{% include 'part/_partShow.html.twig' %}
		</article>
	</div>
{% endblock %}
