
<div class="row">
    <div class="col-5 d-flex justify-content-between">
        <div>
            <span>Créé le : </span>
            <span class="champs_bt text-center">{{ workorder.createdAt ? workorder.createdAt|date('d-m-Y', timezone="Europe/Paris") : '' }}</span>
        </div>
        <div>
            <span>Par : </span>
            <span class="champs_bt text-center">{{ workorder.user.firstName }}</span>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-7">
        <div class="row">
            <div class="col-2">
                <p>Machine(s) : </p>
            </div>
            <div class="col-7 d-flex justify-content-start flex-wrap mt-2">
                {% for machine in workorder.machines %}
                    <p class="champs_bt border border-dark rounded px-2">{{ machine.designation }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% if workorder.request %}
                <div class="col-12 d-flex justify-content-start mt-2">
                    <p>Demande : </p>
                    <p class="champs_bt">{{ workorder.request }}</p>
                </div>
             {% endif %}
            {% if workorder.implementation %}
                <div class="col-12 d-flex justify-content-start mt-2">
                    <p>Réalisation : </p>
                    <p class="champs_bt">{{ workorder.implementation }}</p>
                </div>
            {% endif %}
            {% if workorder.remark %}
                <div class="col-12 d-flex justify-content-start mt-2">
                    <p>Remarque</p>
                    <p class="champs_bt">{{ workorder.remark }}</p>
                </div>
            {% endif %}
        </div>
        <div class="row mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Période</th>
                        <th scope="col" class="text-center">Prochaine date</th>
                        <th scope="col" class="text-center">Préparation</th>
                        <th scope="col" class="text-center">Durée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ workorder.schedule.period }}</td>
                        <td class="text-center">{{ workorder.schedule.nextDate|date('d-m-Y', timezone="Europe/Paris") }}</td>
                        <td class="text-center">{{ workorder.schedule.daysBefore }}</td>
                        <td class="text-center">{{ workorder.schedule.duration }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


