<div class="row">
    <div class="col-5 d-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-center">
            <h4 class="text-primary">Numéro : </h4>
            <h5 class="champs_bt text-center">{{ template.templateNumber }}</h5>
        </div>
        <div class="d-flex justify-content-start">
            <h4 class="text-primary">Créé le : </h4>
            <h5 class="champs_bt text-center">{{ template.createdAt ? template.createdAt|date('d-m-Y', timezone="Europe/Paris") : '' }}</h5>
        </div>
        <div class="d-flex justify-content-start">
            <h4 class="text-primary">Par : </h4>
            <h5 class="champs_bt text-center">{{ template.user.firstName }}</h5>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-2">
        <h4 class="text-primary">Machine(s) </h4>
    </div>
</div>
<div class="row">
    <div class="col-8 border border-info rounded">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th class="text-center" scope="col">Désignation</th>
                    <th class="text-center" scope="col">Num. série</th>
                    <th class="text-center" scope="col">Constructeur</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in template.machines %}
                    <tr>
                        <td>{{ machine.internalCode }}</td>
                        <td class="text-center">{{ machine.designation }}</td>
                        <td class="text-center">{{ machine.serialNumber }}</td>
                        <td class="text-center">{{ machine.constructor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if template.request %}
    <div class="row mt-4">
        <div class="col-2">
            <h4 class="text-primary">Demande : </h4>
        </div>
    </row>
    <div class="row">
        <div class="col-8 border border-info rounded">
            <p>{{ template.request }}</p>
        </div>
    </div>
{% endif %}

{% if template.remark %}
    <div class="row mt-4">
        <div class="col-2">
            <h4 class="text-primary">Remarque : </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8 border border-info rounded">
            <p>{{ template.remark|nl2br }}</p>
        </div>
    </div>
{% endif %}

<div class="row mt-4">
    <div class="col-2">
        <h4 class="text-primary">Temps : </h4>
    </div>
</div>
<div class="row">
    <div class="col-8 border border-info rounded">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Période</th>
                    <th scope="col" class="text-center">Glissant</th>
                    <th scope="col" class="text-center">Prochaine date</th>
                    <th scope="col" class="text-center">Préparation</th>
                    <th scope="col" class="text-center">Durée</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ template.period }}</td>
                    {% if template.sliding %}
                        <td class="text-center">OUI</td>
                    {% else %}
                        <td class="text-center">NON</td>
                    {% endif %}
                    <td class="text-center">{{ template.nextDate|date('d-m-Y', timezone="Europe/Paris") }}</td>
                    <td class="text-center">{{ template.daysBefore }}</td>
                    <td class="text-center">{{ template.duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>