{% for template in templates %}
    <tr>
        <td class="font_size_table">
            <a href="{{ path('template_show', {'id': template.id}) }}">{{ template.templateNumber }}</a>
        </td>
        <td class="text-center font_size_table">{{ template.request }}</td>
        <td class="text-center font_size_table">{{ template.nextDate|date("m/d/Y") }}</td>
        <td class="d-flex justify-content-start flex-wrap text-center font_size_table">
            {% for machine in template.machines %}
                <div class="d-inline justify-content-start">
                    <span class="border-secondary rounded border mr-2 px-1">{{ machine.designation}}<span>
                </div>
            {% endfor %}    
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">Il n'y a pas de bons de travail enregistré</td>
    </tr>
{% endfor %}