{% for template in templates %}
    <tr>
        <td class="font_size_table">
            <a class="btn ntn-sm btn-primary" href="{{ path('template_show', {'id': template.id}) }}">{{ template.templateNumber }}</a>
        </td>
        <td class="text-center font_size_table">{{ template.request }}</td>
        <td class="text-center font_size_table">{{ template.nextDate|date("d/m/Y") }}</td>
        <td>
            {% for machine in template.machines %}
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-start me-3">{{ machine.internalCode }}</div>
                    <div class="text-start">{{ machine.designation }}</div>
                </div>
            {% endfor %}    
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">Il n'y a pas de bons de travail enregistré</td>
    </tr>
{% endfor %}