{% extends 'base.html.twig' %}

{% block title %}Edition bon de travail{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <div class="row justify-content-start align-items-center">
                <div class="col-5">
                    <h2>Edition bon de travail préventif</h2>
                </div>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-primary btn-sm me-3" href="{{ path('template_index') }}" role="button">Liste des préventifs</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('preventive/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <article class="row">
         <aside class="col-2">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <div class="col-8 mt-4">
            <div class="row mt-3">
                <div class="col-2 mb-2">
                    <a class="btn btn-primary btn-sm" href="{{ path('machine_index', {'documentId': template.id, 'mode': mode}) }}" role="button"><h5>Machine(s)</h5></a>
                </div>
                 <div class="inline-flex justify-content-start">
                    {% for machine in template.machines %}
                        <div class="d-flex justify-content-start align-items-center mb-1 border border-info rounded p-2">
                            <span class="border border-info rounded me-1">{{ machine.designation }}</span>
                            <a href="{{ path('preventive_machine_remove', {'id': template.id, 'machine': machine.id })}}" class="ms-2  btn btn-warning btn-sm">Supp</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ include('preventive/_form.html.twig') }}
        </div>
    </article>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editWorkorder') }}
{% endblock %}