{% extends 'base.html.twig' %}

{% block title %}Nouveau bon de travail{% endblock %}

{% block body %}
    <main class="d-flex justify-content-start mt-5 mb-5">
        <aside class="col-2 displayMd mt-5">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <article class="col-12">
            <header class="d-flex justify-content-start align-items-center">
                <div>
                    <h3 class="text-primary me-5">Nouveau BT préventif</h3>
                </div>
                <div>
                    <a class="btn btn-primary btn-sm" href="{{ path('work_order_index') }}" role="button">Listes des BT</a>
                </div>
            </header>
            <section class="row mt-5">
                <div class="col-12 col-lg-10 col-xl-7">
                    <div class="row">
                        <div class="col-5 col-sm-4 col-lg-3 text-primary">
                            <h4>Machine(s)</h4>
                        </div>
                        <div class="col-7 col-sm-4 col-lg-3">
                            <a class="btn btn-primary btn-sm" href="{{ path('machine_index', {'mode': 'selectPreventive'}) }}" role="button">Choix Machine(s)</a>
                        </div>
                        {% if machinesWithData is not empty and machinesWithData is defined %}
                            <div style="background: #e3fafd;" class="rounded p-2">
                                <div class="row mb-3">
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <span class="fw-bold">Code</span>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                        <span class="fw-bold">Désignation</span>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                        <span class="fw-bold">Action</span>
                                    </div>
                                </div>
                                {% for machine in machinesWithData %}
                                    <div class="row mb-1">
                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            <span>{{ machine.internalCode }}</span>
                                        </div>
                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                            <span>{{ machine.designation}}</span>
                                        </div>
                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                            <span><a href="{{ path('remove_machine_from_cart', 
                                                {'id': machine.id, 'mode': 'newPreventive'}) }}" 
                                                style="margin-top: -3px;" class="btn btn-warning btn-sm p-1" role="button">
                                                Supp
                                            </a></span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {{ include('preventive/_form.html.twig') }}
                </div>
            </section>
        </article>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


