{% extends 'base.html.twig' %}

{% block title %}Bon de travail préventif{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6 offset-2">
            <div class="row justify-content-between">
                <div class="col-5">
                    <h3>Bon de Travail préventif</h3>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    {# <a class="btn btn-warning btn-sm me-2" href="{{ path('add_part', {'id': template.id}) }}">Pièces détachées</a> #}
                    <a class="btn btn-primary btn-sm me-2" href="{{ path('template_index') }}" role="button">Liste des préventifs</a>
                    <a class="btn btn-primary btn-sm me-2" href="{{ path('template_edit', {'id': template.id}) }}">Edition</a>
                    {# <a class="btn btn-warning btn-sm me-2" href="{{ path('pdf_workorder', {'id': template.id}) }}">Pdf</a> #}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('preventive/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <article class="row mt-4">
         <aside class="col-2">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <div class="col-10">
            {% include 'preventive/_show.html.twig' %}
        </div>
    </article>
{% endblock %}