{% extends 'base.html.twig' %}

{% block title %}Pièces en réappro
{% endblock %}

{% block body %}
	<main class="d-flex part-js-filter justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="ms-2">
			<section class="d-flex justify-content-start align-items-center flex-wrap">
				<h1 class="page-title me-5 mb-2">Pièces en réappro</h1>
				<div>
					<a class="btn btn-primary btn-sm mb-2" href="{{ path('parts_to_buy') }}" role="button">Liste pièces réappro</a>
					<a class="btn btn-primary btn-sm mb-2" href="{{ path('app_request', {'id': provider.id}) }}" role="button">Demande d'offre</a>
				</div>
			</section>
			<section class="row mt-5">
				<div class="col-12 d-flex justify-content-start">
					<h4 class="me-4">Fournisseur :
						{{ provider.name }}</h4>
				</div>
			</section>
			<section class="row mt-5">
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr class="sorting">
								<th scope="col">Code</th>
								<th scope="col" class="text-center">Désignation</th>
								<th scope="col" class="text-center">Référence</th>
								<th scope="col" class="text-center">Qte stock</th>
								<th scope="col" class="text-center">Qte Mini</th>
								<th scope="col" class="text-center">Qte Maxi</th>
								<th scope="col" class="text-center">Qte en commande</th>
							</tr>
						</thead>
						<tbody>
							{% for part in parts %}
								{% if part.stock.approQte > 0 %}
									<tr style="background-color: #a7fb78;">
									{% else %}
										<tr>
										{% endif %}
										<td data-label="Code">
											<a href="{{ path('part_edit', {'id': part.id}) }}" class="btn btn-primary btn-sm part-code text-center">{{ part.code }}</a>
										</td>
										<td data-label="Désignation" class="text-center">{{ part.designation }}</td>
										<td data-label="Référence" class="text-center">{{ part.reference }}</td>
										<td data-label="Qte Stock" class="text-center">{{ part.stock.qteStock }}</td>
										<td data-label="Qte min" class="text-center">{{ part.stock.qteMin }}</td>
										<td data-label="Qte max" class="text-center">{{ part.stock.qteMax }}</td>
										<td data-label="Qte en commande" class="text-center">{{ part.stock.approQte }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</tbody>
					</table>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
