<tr>
    <td>{{ form_widget(form.preventive) }}</td>
    <td>{{ form_widget(form.closed) }}</td>
</tr>
<tr>
    <td>{{ form_widget(form.id) }}</td>
    <td>{{ form_widget(form.machine) }}</td>
    <td>{{ form_widget(form.user) }}</td>
    <td>{{ form_widget(form.createdAt)  }}</td>
    <td>{{ form_widget(form.request)  }}</td>
    <td>{{ form_widget(form.status)  }}</td>
</tr>