<div class="mt-5">
    {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

        <div class="mt-2 d-flex">
            <div class="filterbtn">
                {{ form_row(form.createdAt) }}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>

        <div class="mt-2 d-flex">
            <div class="filterbtn">
                {{ form_row(form.status) }}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>
       
        <div class="mt-2 d-flex">
            <div class="filterbtn">
                {{ form_row(form.machine) }}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>

        <div class="mt-2 d-flex">
            <div class="filterbtn">
                {{ form_row(form.user) }}
            </div>
            <div>
                <button class="resetBtn btn btn-primary">Reset</button>
            </div>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary w-100">Filtrer</button>
        </div>
        
    {{ form_end(form) }}
</div>