{{ form_start(form) }}
<div class="row mt-4">
	<div class="d-flex justify-content-start align-items-baseline col-12 col-sm-7 col-md-5 col-xl-4">
		<h4 class="item me-4">Technicien</h4>
		{{ form_row(form.user) }}
	</div>
	<div class="d-flex justify-content-start align-items-baseline col-12 col-sm-7 col-md-5 col-xl-4 ">
		<h4 class="item me-4">Type BT</h4>
		{{ form_row(form.type) }}
	</div>
</div>
<div class="row mt-4">
	<div class="col-12 col-xl-10">
		<h4 class="item">Intervention</h4>
		<div class="row border border-info rounded p-2">
			<div class="col-12 ">
				<div class="mt-2">
					{{ form_label(form.request) }}
					{{ form_widget(form.request) }}
				</div>
				<div class="mt-2">
					{{ form_label(form.implementation) }}
					{{ form_widget(form.implementation) }}
				</div>
				<div class="mt-2">
					{{ form_label(form.remark) }}
					{{ form_widget(form.remark) }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="duration me-3 mt-3 mb-5" id="time_management">
	<div class="me-3 mt-3">
		<span class="item">Date</span>
		<div id="date-box-with-text">
			<div class="global-date-box" id="workorder_time">
				<div class="date-box m-2">
					{{ form_row(form.startDate)}}
				</div>
				<div class="time2-box m-2">
					{{ form_row(form.startTime) }}
				</div>
				<div class="date-box m-2">
					{{ form_row(form.endDate)}}
				</div>
				<div class="time2-box m-2">
					{{ form_row(form.endTime)}}
				</div>
				<div class="time2-box m-2">
					{{ form_widget(form.toClose) }}
					{{ form_label(form.toClose) }}
				</div>
			</div>
			<div id="warning-text-box" class="text-center warning-text invisible">
				<p>La date de fin est antérieure à la date de début</p>
			</div>
		</div>
	</div>
	<div class="global-duration-box">
		<div class="me-3 mt-3">
			<span class="item">Durée</span>
			<div class="global-duration-box" id="duration_time">
				<div class="caseHeure">
					{{ form_row(form.durationDay)}}
				</div>
				<div class="caseHeure">
					{{ form_row(form.durationHour)}}
				</div>
				<div class="caseHeure">
					{{ form_row(form.durationMinute)}}
				</div>
			</div>
		</div>
		<div id="warning-duration-text-box" class="text-center warning-text invisible">
			<p>La date de fin est antérieure à la date de début</p>
		</div>
	</div>

	<div class="mt-3 me-3">
		<span class="item">Arrêt machine</span>
		<div class="global-stop-time-box">
			<div class="caseHeure">
				{{ form_row(form.stopTimeHour)}}
			</div>
			<div class="caseHeure">
				{{ form_row(form.stopTimeMinute)}}
			</div>
		</div>
	</div>
	<div class="mt-3 me-3">
		<span class="item">Coût</span>
		<div class="global-cost-box">
			{{ form_row(form.operationPrice)}}
		</div>
	</div>
</div>
<div class="d-flex justify-content-start align-items-center mb-5">
	<button type="submit" class="btn btn-primary button-sm pull-right me-5 button-valid">Valider</button>
	<p id="completedAfterText" class="invisible">Attention ce BT en standby devra être complété ultérieurement.</p>
</div>
{{ form_end(form) }}
