{{ form_start(form) }} 
    <div class="row">
        <div class="col-3 mt-5 d-flex">
            <h4 class="me-5 text-primary">Type BT</h4>
            {{ form_row(form.type) }}
        </div>
    </div>
    <div class="mt-4 interventions">
        <div class="row">
            <div class="text-primary">
                <h4>Intervention</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                {{ form_label(form.request) }}  
                {{ form_widget(form.request) }}
                
                {{ form_label(form.implementation) }}  
                {{ form_widget(form.implementation) }} 
            
                {{ form_label(form.remark) }}  
                {{ form_widget(form.remark) }}
            </div>
        </div>
    </div>
    <div class="mt-5 temps" id="time_management">
        <div class="row">
            <div class="col-4">
                <div class="text-primary">
                    <h4>Date</h4>
                </div>
                <div class="col-12 d-flex justify-content-around me-3 border border-secondary rounded p-3 pb-5">
                    <div class="row">
                        <div class="mb-3">
                            {{ form_label(form.startDate) }}
                            <div class="caseTemps">
                                {{ form_widget(form.startDate) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(form.startTime) }}
                            <div class="caseTemps">
                                {{ form_widget(form.startTime) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            {{ form_label(form.endDate) }}
                            <div class="caseTemps">
                                {{ form_widget(form.endDate) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(form.endTime) }}
                            <div class="caseTemps">
                                {{ form_widget(form.endTime) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="text-primary">
                    <h4>Durée</h4>
                </div>
                <div class="col-12 d-flex justify-content-around me-3 border border-secondary rounded p-3" id="duration_time">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            {{ form_label(form.durationDay) }}
                            <div class="caseHeure">
                                {{ form_widget(form.durationDay) }}
                            </div>
                        </div>
                        <div class="me-3">
                            {{ form_label(form.durationHour) }}
                            <div class="caseHeure">
                                {{ form_widget(form.durationHour) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(form.durationMinute) }}
                            <div class="caseHeure">
                                {{ form_widget(form.durationMinute) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-primary mt-2">
                    <h4>Arrêt machine</h4>
                </div>
                <div class="col-12 d-flex justify-content-around me-3 border border-secondary rounded p-3" id="duration_time">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            {{ form_label(form.stopTimeHour) }}
                            <div class="caseHeure">
                                {{ form_widget(form.stopTimeHour) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(form.stopTimeMinute) }}
                            <div class="caseHeure">
                                {{ form_widget(form.stopTimeMinute) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mb-5 text-center">
            <button type="submit" class="btn btn-primary pull-right w-100 mt-3">Valider</button>
        </div>
    </div>
{{ form_end(form) }}