<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(workorders, 'Date', 'w.createdAt') }}</th>
            <th>{{ knp_pagination_sortable(workorders, 'Machine', 'w.machine') }}</th>
            <th>{{ knp_pagination_sortable(workorders, 'Travaux', 'w.subject') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for workorder in workorders %}
            <tr>
                <td>{{ workorder.createdAt}}</td>
                <td>{{ workorder.machine.name}}</td>
                <td>{{ workorder.subject}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a pas de BT enregistrés</td>
            </tr>
        {% endfor %}
    </tbody>
</table>