<table class="table table-striped table-sm">
    {# <thead>
        <tr>
            <th>{{ knp_pagination_sortable(workorders, 'Date', 'w.createdAt') }}</th>
            <th>{{ knp_pagination_sortable(workorders, 'Machine', 'w.machine') }}</th>
            <th>{{ knp_pagination_sortable(workorders, 'Travaux', 'w.implementation') }}</th>
        </tr>
    </thead> #}
    <tbody>
        {% for workorder in workorders %}
            <tr>
                <td>{{ workorder.createdAt ? workorder.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ workorder.machine.designation}}</td>
                <td>{{ workorder.implementation}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a pas de BT enregistrés</td>
            </tr>
        {% endfor %}
    </tbody>
</table>