{# Si c'est un BT préventif #}
{% if workorder.preventive %}
	<div class="row">
		<div class="col-12 col-sm-5 col-xl-3 d-flex justify-content-start align-items-center flex-wrap mb-3">
			<span class="item me-2">Date prévue :</span>
			<span class="item-answer">{{ workorder.preventiveDate|date('d/m/Y') }}</span>
		</div>
		<div class="col-12 col-sm-5 col-xl-3 d-flex justify-content-start align-items-center flex-wrap mb-3">
			<span class="item me-2">Numéro de préventif :</span>
			<span class="item-answer">{{ workorder.templateNumber }}</span>
		</div>
		<div class="col-12 col-sm-5 col-xl-3 d-flex justify-content-start align-items-center mb-3">
			<span class="item me-2">Statut :</span>
			<span class="item-answer">{{ workorder.workorderStatus.name }}</span>
		</div>
	</div>
{% endif %}
<div class="row">
	<div class="col-12 col-sm-5 col-xl-3 d-flex justify-content-start align-items-center mb-3">
		<span class="item me-2">Créé le :</span>
		<span class="item-answer">{{ workorder.createdAt ? workorder.createdAt|date('d/m/Y', timezone="Europe/Paris") : '' }}</span>
	</div>
	<div class="col-12 col-sm-5 col-xl-3 d-flex justify-content-start align-items-center mb-3">
		<span class="item me-2">Par :</span>
		<span class="item-answer">{{ workorder.user.firstName }}</span>
	</div>
</div>

{# Machines #}
<div class="row mt-2">
	<span class="item">Machine(s)</span>
	<div class="col-12 col-sm-12 col-md-12 col-xl-9">
		<table class="table table-sm table-striped">
			<thead>
				<tr class="sorting">
					<th scope="col">Numéro</th>
					<th class="text-center" scope="col">Désignation</th>
					<th class="text-center" scope="col">Num. série</th>
					<th class="text-center" scope="col">Constructeur</th>
				</tr>
			</thead>
			<tbody>
				{% for machine in workorder.machines %}
					<tr>
						<td data-label="Numéro : ">{{ machine.internalCode }}</td>
						<td data-label="Désignation: " class="text-center">{{ machine.designation ? machine.designation : "-" }}</td>
						<td data-label="Num. Série : " class="text-center">{{ machine.serialNumber ? machine.serialNumber : "-" }}</td>
						<td data-label="Constructeur : " class="text-center">{{ machine.constructor ? machine.constructor : "-" }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="col-12 col-sm-12 col-xl-10 d-flex justify-content-start align-items-center flex-wrap mb-3">
	<div class="item me-2">Demande :</div>
	<span class="item-answer">{{ workorder.request }}</span>
</div>

{% if workorder.implementation %}
	<div class="col-12 col-sm-12 col-xl-10 d-flex justify-content-start align-items-center flex-wrap mb-3">
		<span class="item me-2">Réalisation :</span>
		<span class="item-answer">{{ workorder.implementation | nl2br }}</span>
	</div>
{% endif %}

{% if workorder.remark %}
	<div class="col-12 col-sm-12 col-xl-10 d-flex justify-content-start align-items-top flex-wrap">
		<span class="item me-2">Remarque :</span>
		<div class="item-answer">{{ workorder.remark | nl2br }}</div>
	</div>
{% endif %}
<div class="row mt-4 justify-content-start">
	<span class="item">Durée :</span>
	<span class="item-answer">
		{% if workorder.durationDay > 0 %}
			{{ workorder.durationDay }}
			{% if workorder.durationDay > 1 %}
				jours
			{% else %}
				jour
			{% endif %}
		{% endif %}
	</span>
</div>
<div class="row mt-1">
	<div class="col-12 col-sm-12 col-md-11 col-xl-6">
		<table class="table">
			<thead>
				<tr class="sorting">
					<th scope="col" class="text-center text-primary">Date début</th>
					<th scope="col" class="text-center text-primary">Heure début</th>
					<th scope="col" class="text-center text-primary">Date fin</th>
					<th scope="col" class="text-center text-primary">Heure de fin</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-label="Date début : " class="text-center">{{ workorder.startDate ? workorder.startDate|date('d-m-Y', timezone="Europe/Paris") : '-' }}</td>
					<td data-label="Heure début : " class="text-center">{{ workorder.startTime ? workorder.startTime|date('H:i:s', timezone="Europe/Paris") : '-' }}</td>
					<td data-label="Date fin : " class="text-center">{{ workorder.endDate ? workorder.endDate|date('d-m-Y', timezone="Europe/Paris") : '-' }}</td>
					<td data-label="Heure fin : " class="text-center">{{ workorder.endTime ? workorder.endTime|date('H:i:s', timezone="Europe/Paris") : '-' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% if workorder.workorderParts is not empty %}
	<div class="row mt-1">
		<div class="col-12 col-lg-11 col-xl-10 mb-3">
			<h5 class="item">Pièces détachées</h5>
			<div class="border rounded border-primary p-3">
				<table class="table table-sm">
					<thead>
						<tr class="sorting">
							<th scope="col">Code</th>
							<th class="text-center">Qte</th>
							<th class="text-center ms-4" scope="col">Désignation</th>
							<th class="text-center" scope="col">Qte stock</th>
							<th class="text-center" scope="col">Prix</th>
							<th class="text-center" scope="col">Prix total</th>
						</tr>
					</thead>
					<tbody>
						{% for part in workorder.workorderParts %}
							<tr>
								{% set quantity = part.quantity %}
								{% set price = part.price %}
								{% set totalPrice = price * quantity %}
								<td data-label="Code : ">{{ part.part.code }}</td>
								<td data-label="Quantité : ">{{ quantity }}</td>
								<td data-label="Désignation : ">{{ part.part.designation }}</td>
								<td data-label="Qte stock : ">{{ part.part.stock.qteStock }}</td>
								{% if part.part.steadyPrice > 0 %}
									<td data-label="Prix : ">{{ price|format_number({fraction_digit: 2}) }}</td>
									<td data-label="Prix : ">{{ totalPrice|format_number({fraction_digit: 2}) }}</td>
								{% else %}
									<td data-label="Prix : ">-</td>
									<td data-label="Prix : ">-</td>
								{% endif %}
								{% if workorder.workorderStatus.name != "CLOTURE" %}
									<td data-label="">
										<a href="{{ path('remove_part', {'id': workorder.id, 'workorderPartId': part.id}) }}" class="btn btn-warning btn-sm">Supp</a>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="d-flex justify-content-end">
					<div class="border border-danger rounded p-2">Total pièces :
						{{ workorder.partsPrice|format_number({fraction_digit: 2}) }}€</div>
				</div>


			</div>
		</div>
	</div>

{% endif %}
