
<div class="row">
    <div class="col-5 d-flex justify-content-between">
        <div>
            <span>Créé le : </span>
            <span class="champs_bt text-center">{{ workorder.createdAt ? workorder.createdAt|date('d-m-Y H:i:s', timezone="Europe/Paris") : '' }}</span>
        </div>
        <div>
            <span>Par : </span>
            <span class="champs_bt text-center">{{ workorder.user.firstName }}</span>
        </div>
        <div>
            <span>Statut : </span>
            <span class="champs_bt text-center">{{ workorder.workorderStatus.name }}</span>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <p>Machine : </p>
                {% for machine in workorder.machines %}
                    <p class="champs_bt border border-dark rounded">{{ machine.designation }}</p>
                {% endfor %}
            </div>
            {% if workorder.request %}
                <div class="col-12 d-flex justify-content-start">
                    <p>Demande : </p>
                    <p class="champs_bt">{{ workorder.request }}</p>
                </div>
             {% endif %}
            {% if workorder.implementation %}
                <div class="col-12 d-flex justify-content-start">
                    <p>Réalisation : </p>
                    <p class="champs_bt">{{ workorder.implementation }}</p>
                </div>
            {% endif %}
            {% if workorder.remark %}
                <div class="col-12 d-flex justify-content-start">
                    <p>Remarque</p>
                    <p class="champs_bt">{{ workorder.remark }}</p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-5 d-flex justify-content-between">
                <h5>Durée : </h5> 
                {% if workorder.durationDay > 0 %}
                    {{ workorder.durationDay }} 
                     {% if workorder.durationDay > 1 %}
                        jours
                    {% else %}
                        jour
                    {% endif %}
                {% endif %}
                {% if workorder.durationHour > 0 %}
                    {{ workorder.durationHour }} 
                    {% if workorder.durationHour > 1 %}
                        heures
                    {% else %}
                        heure
                    {% endif %}
                {% endif %}
                {% if workorder.durationMinute > 0 %}
                    {{ workorder.durationMinute }} 
                    {% if workorder.durationMinute > 1 %}
                        minutes
                    {% else %}
                        minute
                    {% endif %}
                {% endif %}
            </div>
            
        </div>
        <div class="row mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date début</th>
                        <th scope="col" class="text-center">Heure début</th>
                        <th scope="col" class="text-center">Date fin</th>
                        <th scope="col" class="text-center">Heure de fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ workorder.startDate ? workorder.startDate|date('d-m-Y', timezone="Europe/Paris") : '' }}</td>
                        <td class="text-center">{{ workorder.startTime ? workorder.startTime|date('H:i:s', timezone="Europe/Paris") : '' }}</td>
                        <td class="text-center">{{ workorder.endDate ? workorder.endDate|date('d-m-Y', timezone="Europe/Paris") : '' }}</td>
                        <td class="text-center">{{ workorder.endTime ? workorder.endTime|date('H:i:s', timezone="Europe/Paris") : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if workorder.workorderParts is not empty %}
        <div class="col-5 mt-2 mb-3 border rounded border-primary pt-2">
            <h5>Pièces détachées</h5>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th class="text-center">Qte</th>
                        <th class="text-center" scope="col">Désignation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for part in workorder.workorderParts %}
                        <tr>
                            <td>
                                {{ part.part.code }}
                            </td>
                            <td class="text-center" s>
                                {{ part.quantity }}
                            </td>
                            <td class="text-center" s>
                                {{ part.part.designation }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>


