{% for workorder in workorders %}
	{% if workorder.preventive and workorder.workorderStatus.name == "EN_PREP." %}
		<tr style="background-color: #81c2fb;">
		{% elseif workorder.preventive and workorder.workorderStatus.name == "EN_COURS" %}
			<tr style="background-color: #a0d93a;">
			{% elseif workorder.preventive and workorder.workorderStatus.name == "EN_RETARD" %}
				<tr style="background-color: #f92f2f;">
				{% elseif workorder.workorderStatus.name == "TERMINE" %}
					<tr style="background-color: #3ff92f;">
					{% elseif workorder.workorderStatus.name == "CLOTURE" %}
						<tr style="background-color: #dcfa4d;">
						{% else %}
							<tr>
							{% endif %}
							<td data-label="Numéro" class="font_size_table">
								{% if workorder.preventive %}
									<a class="btn index-button" href="{{ path('work_order_show', {'id': workorder.id}) }}">{{ workorder.id }}
										<strong>P</strong>
									</a>
								{% else %}
									<a class="btn index-button" href="{{ path('work_order_show', {'id': workorder.id}) }}">{{ workorder.id }}</a>
								{% endif %}
							</td>
							<td data-label="Machine" class="text-center font_size_table">
								{% for machine in workorder.machines %}
									{{ machine.designation}}
								{% endfor %}
							</td>
							<td data-label="Technicien" class="text-center font_size_table">{{ workorder.user.firstName }}</td>
							{% if workorder.preventive %}
								<td data-label="Date" class="text-center font_size_table"><strong>P </strong>{{ workorder.preventiveDate ?  workorder.preventiveDate|date('d-m-Y') : '' }}</td>
							{% else %}
								<td data-label="Date" class="text-center font_size_table">{{ workorder.startDate ? workorder.startDate|date('d-m-Y') : '' }}</td>
							{% endif %}
							<td data-label="Demande" class="text-center font_size_table">{{ workorder.request }}</td>
							<td data-label="Statut" class="text-center font_size_table">{{ workorder.workorderStatus.name }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Il n'y a pas de bons de travail enregistré</td>
						</tr>
					{% endfor %}
