{% extends 'base.html.twig' %}

{% block title %}Bon de travail
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{# <link rel="stylesheet" href="/assets/css/workorder-new.css"> #}
{% endblock %}


{% block body %}
	<header class="row">
		<section class="col-10 offset-2">
			<div>
				<div class="mt-5 d-flex justify-content-between align-items-center">
					<h3 class="text-primary">Pièces détachées</h3>
					<a class="btn btn-primary btn-sm" href="{{ path('work_order_show', {'id': workorderId}) }}" role="button">Retour au BT</a>
				</div>
				{% if items %}
					<div class="col-5 mt-2 mb-3 offset-3 border border-primary rounded p-2">
						<div class="d-flex justify-content-start">
							<h4>Panier</h4>
							<a href="{{ path('cart_index', {'workorderId': workorderId}) }}" class="ms-4 btn btn-primary btn-sm btn_panier">Visualiser</a>
							<a href="{{ path('cart_valid', {'id': workorderId}) }}" class="ms-4 btn btn-warning btn-sm btn_panier">Valider</a>
							<a href="{{ path('cart_empty', {'workorderId': workorderId}) }}" class="ms-4 btn btn-danger btn-sm btn_panier">vider</a>
						</div>
					</div>
					{% for item in items %}
						<span>
							<a href="{{ path('cart_remove', {'id': item.part.id, 'workorderId': workorderId}) }}" class="btn btn-sm btn-danger btn_supp">Supp</a>
						</span>
						<span class="items_display">
							<strong>{{ item.quantity }}x{{ item.part.code }}
								&nbsp; : &nbsp;</strong>

							{{ item.part.designation }}</span><br>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>
</header>
<div class="part-js-filter">
	<section class="row part-js-filter">
		<div class="col-2">
			{% include 'part/_filter.html.twig' %}
		</div>
		<div class="col-10">
			{% include 'part/_addPartList.html.twig' with {
                    parts: parts,
                    addPart: addPart, 
                    workorderId: workorderId
                } only %}
		</div>
	</section>
	<section
		class="row">
		{# display navigation #}
		<div class="col-4 offset-2 navigation js-filter-pagination">
			{% include 'part/_pagination.html.twig' %}
		</div>
	</section>
</div>{% endblock %}
