{% extends 'base.html.twig' %}

{% block title %}Edition bon de travail
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/workorder-edit.css">
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5 mb-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-xl-10">
			<header class="d-flex justify-content-start align-items-center flex-wrap">
				{% if workorder.preventive %}
					<h1 class="page-title me-5 mb-2">Edition bon de travail préventif</h1>
				{% else %}
					<h1 class="page-title me-5 mb-2">Edition bon de travail</h1>
				{% endif %}
				<div class="d-flex justify-content-start align-items-center flex-wrap">
					<a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('work_order_show', {'id': workorder.id}) }}" role="button">Retour au BT</a>
					<a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('work_order_index') }}" role="button">Liste des BT</a>
					{% if is_granted('ROLE_ADMIN') %}
						{{ include('workorder/_delete_form.html.twig') }}
					{% endif %}
				</div>
			</header>
			<section class="row">
				<div class="mt-4 col-12 col-xl-9">
					<span class="item me-5">Machine(s)</span>
					{% if not workorder.preventive %}
						<a class="btn btn-primary btn-sm" href="{{ path('machine_index', {'mode': 'modif', 'documentId': workorder.id}) }}" role="button">Changer de machine</a>
					{% endif %}
					<div class="row mt-2">
						<div class="col-12 d-flex justify-content-start align-items-center">
							<table class="table table-sm table-striped">
								<thead>
									<tr class="sorting">
										<th>Code</th>
										<th class="text-center">Désignation</th>
									</tr>
								</thead>
								<tbody>
									{% for machine in workorder.machines %}
										<tr>
											<td data-label="Code">{{ machine.internalCode }}</td>
											<td data-label="Désignation" class="text-center">{{ machine.designation }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
			<section class="row">
				<div class="col-12 col-xl-11">
					{{ include('workorder/_form.html.twig') }}
				</div>
			</section>
		</article>
	</main>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('workorder') }}
{% endblock %}
