{% extends 'base.html.twig' %}

{% block title %}Bons de travail{% endblock %}

{% block body %}
    <header class="row mt-4">
        <div class="col-3 offset-2">
            <h3>Bons de travail</h3>
        </div>
    </header>
    <main class="row workorder-js-filter">
        <aside class="col-2 mt-4">
            <setion>
                <a class="btn btn-primary btn-sm mb-3" href="{{ path('work_order_new') }}" role="button">Nouveau bon de travail</a>
                {% include 'workorder/_filter.html.twig' %}
            </section>
            <section class="text-center mt-3 d-flex flex-column ">
                {% if app.user.imageName %}
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('my_middle_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
                {% else %}
                    <img src="{{ asset('/images/technicien.jpg') | imagine_filter('my_middle_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
                {% endif %}
                <div class="mt-2 border borer-danger rounded">
                    {{ app.user.firstName ~ " " ~ app.user.lastName }}
                </div>
            </section>
        </aside>
        <article class="col-10">
            <div class="mt-4">
                {% include 'workorder/_workorderList.html.twig' with {workorders: workorders} only %}
            </div>
            {# display navigation #}
            <div class="navigation js-filter-pagination">
                {% include 'workorder/_pagination.html.twig' %}
            </div>
        </article>
    </main>
{% endblock %}