{% extends 'base.html.twig' %}

{% block title %}Nouveau bon de travail{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6 offset-2 d-flex justify-content-between align-items-center">
            <h2>Nouveau BT</h2>
            <h5>{{ workorder.createdAt|date('d/m/Y') }}</h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2 mb-4">
            {% include 'user/_photo.html.twig' %}
        </div>
        <div class="col-8 mb-4">
            <div class="row mt-2 d-flex justify-content-start align-items-center">
                <div class="col-2">
                    <a class="btn btn-primary btn-sm w-75" href="{{ path('machine_index', {'mode': 'newWorkorder'}) }}" role="button"><h5>Machine</h5></a>
                </div>
                <div class="col-4">
                   {% if workorder.machines is not empty %}
                        <div class="case_machine">
                            {% for machine in workorder.machines %}
                                <span>{{ machine.designation }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ include('workorder/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('newWorkorder') }}
{% endblock %}


