{% extends 'base.html.twig' %}

{% block title %}Nouveau bon de travail
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/workorder-new.css">
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-12 col-lg-12 col-xl-10">
			<header class="mb-5">
				<h1 class="page-title">Nouveau BT</h1>
			</header>
			<section class="row">
				<div class="d-flex justify-content-start align-items-center mb-4">
					<a class="btn btn-warning new-btn me-5" href="{{ path('machine_choice', {'mode': 'newWorkorder'}) }}">Machine(s)</a>
				</div>
				<div class="row mt-2 machines-box">
					<div class="col-12 d-flex justify-content-start align-items-center">
						{% if workorder.machines is not empty %}
							<table class="table table-sm table-striped">
								<thead>
									<tr class="sorting">
										<th>Code</th>
										<th class="text-center">Désignation</th>
									</tr>
								</thead>
								<tbody>
									{% for machine in workorder.machines %}
										<tr>
											<td data-label="Code">{{ machine.internalCode }}</td>
											<td data-label="Désignation" class="text-center">{{ machine.designation }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				{% endif %}
			</section>
			<section class="row mt-3">
				<div class="col-12 col-xl-12">
					{{ include('workorder/_form.html.twig') }}
				</div>
			</section>
		</article>
	</main>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="module" src="/assets/js/workorder.js" defer></script>
{% endblock %}
