<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="ms-3" style="font-size: 0.8em;">Ver. : 2.1</span>
    <a class="navbar-brand px-5" href="{{ path('home') }}">
        <img src="{{ asset('images/logo.png') }}" width="100" height="60" alt="Charcuterie Pierre Schmidt">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" href="{{ path('part_index') }}">Pièces détachées</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="{{ path('machine_index') }}">Machines</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="{{ path('work_order_index') }}" >Bons de travail</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Approvisionnement
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('delivery_note_index') }}">Réception pièces</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('parts_to_buy') }}">Pièces en réappro</a>
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item mx-2">
                    <a href="{{ path('template_index') }}" class="nav-link">Préventif</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{{ path('admin') }}" class="nav-link">Administration</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
                </li>                
            {% endif %}
        </ul>
        <div class="d-flex justify-content-center align-items-center me-5 navbar-nav">
            <div class="me-3">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                    </li>
                {% endif %}
            </div>
            {% if app.user %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if app.user.imageName %}
                            <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('my_little_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
                        {% else %}
                            <img src="{{ asset('/images/technicien.jpg') | imagine_filter('my_little_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('user_profil', { 'id': app.user.id }) }}">Profil</a>
                        <a class="dropdown-item" href="{{ path('app_forgot_password_request') }}">Changer mot de passe</a>
                    </div>
                </li>
            {% endif %}
        </div>
    </div>
</nav>