<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand px-5" href="{{ path('home') }}">
        <img src="{{ asset('images/logo.png') }}" width="100" height="60" alt="Charcuterie Pierre Schmidt">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topnav align-items-center">
            {% if app.user %}
                <div class="mr-5 d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('part_index') }}">Pièces détachées</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('machine_index') }}">Machines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('work_order_index') }}" >Bons de travail</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('preventive_index') }}" class="nav-link">Préventif</a>
                    </li>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('admin') }}" class="nav-link">Administration</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                </li>
            {% endif %}

            {% if app.user %}
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user.imageName %}
                            <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('my_little_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
                        {% else %}
                            <img src="{{ asset('/images/technicien.jpg') | imagine_filter('my_little_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
                        {% endif %}</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="{{ path('user_profil', { 'id': app.user.id }) }}">Profil</a>
                        </li>
                        {# <li>
                            <a class="dropdown-item" href="{{ path('user_password_modification', { 'id': app.user.id }) }}">Changer mot de passe</a>
                        </li> #}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>