<div class="row mb-3">
	<div class="col-12 col-sm-4">
		<span class="text-primary me-2"><strong>Nom :</strong></span>
		<span class="champs_bt text-center">{{ provider.name }}</span>
	</div>
	<div class="col-12 col-sm-2">
		<span class="text-primary me-2"><strong>Code :</strong></span>
		<span class="champs_bt">{{ provider.code }}</span>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<span class="text-primary me-2"><strong>Activité :</strong></span>
		<span class="champs_bt">{{ provider.activity }}</span>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<span class="text-primary me-2"><strong>Adresse :</strong></span>
		<span class="champs_bt">{{ provider.address }}</span>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12 col-sm-4">
		<span class="text-primary me-2"><strong>Code postal :</strong></span>
		<span class="champs_bt">{{ provider.postalCode }}</span>
	</div>
	<div class="col-12 col-sm-4">
		<span class="text-primary me-2"><strong>Ville :</strong></span>
		<span class="champs_bt">{{ provider.city }}</span>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12 col-sm-4">
		<span class="text-primary me-2"><strong>Email :</strong></span>
		<span class="champs_bt text-center">{{ provider.email }}</span>
	</div>
	<div class="col-12 col-sm-4">
		<span class="text-primary me-2"><strong>Téléphone :</strong></span>
		<span class="champs_bt">{{ provider.phone }}</span>
	</div>
</div>
