<div class="row">
    <div class="col-3 d-flex justify-content-start align-items-center">
        <h5 class="text-primary">Nom : </h5>
        <h5 class="champs_bt text-center">{{ provider.name }}</h5>
    </div>
    <div class="col-3 d-flex justify-content-start align-items-center">
        <h5 class="text-primary">Code : </h5>
        <h5 class="champs_bt">{{ provider.code }}</h5>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 d-flex justify-content-start align-items-center">
        <h5 class="text-primary">Adresse : </h5>
        <h5 class="champs_bt text-center">{{ provider.address }}</h5>
    </div>
</div>
<div class="row mt-4">
    <div class="col-3 d-flex justify-content-start align-items-center">
        <H5 class="text-primary">Code postal : </H5>
        <h5 class="champs_bt">{{ provider.postalCode }}</h5>
    </div>
    <div class="col-3 d-flex justify-content-start align-items-center">
        <h5 class="text-primary">Ville : </h5>
        <h5 class="champs_bt">{{ provider.city }}</h5>
    </div>
</div>
<div class="row mt-4">
    <div class="col-3 d-flex justify-content-start align-items-center">
        <h5 class="text-primary">Email : </h5>
        <h5 class="champs_bt text-center">{{ provider.email }}</h5>
    </div>
    <div class="col-3 d-flex justify-content-start align-items-center">
        <H5 class="text-primary">Téléphone : </H5>
        <h5 class="champs_bt">{{ provider.phone }}</h5>
    </div>
</div>


