{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="row pt-5">
        <div class="col-2">
            {% include 'user/_photo.html.twig' %}
        </div>
        <div class="col-8">
            <h2 class="mb-5">Messagerie</h2>
            <h4 class="mb-5">Titre : {{message.title}}</h4>
            <p class="mb-5">Message de {{ message.sender.username}}</p>
            <p>{{message.createdAt|date}}</p>
            <div>Message : {{ message.message }}</div>

            <a href="{{ path("respond", {'id': message.id}) }}" class="btn btn-primary mt-5">Répondre</a>
            <a class="btn btn-primary mt-5" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Voir mes dossiers
            </a>
            <a href="{{ path("received") }}" class="btn btn-primary mt-5">Retour à la boite de réception</a>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item 
                list-group-item-action">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="list-group-item 
                list-group-item-action">Boite de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("sent") }}" class="list-group-item 
                list-group-item-action">Eléments envoyés</a>
            </div>
        </div>
    </div>

{% endblock %}
