    <tr style="background-color: #60dd28">
        <td>{{ form_widget(form.internalCode) }}</td>
        <td>{{ form_widget(form.constructor) }}</td>
        <td>{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.model) }}</td>
        <td>{{ form_widget(form.workshop) }}</td>
    </tr>

