{{ form_start(form) }}  
    <div class="row">
        <div class="col-5">
            <div class="row mb-4">
                <div class="col-5">
                    {{ form_errors(form.internalCode) }}
                    {{ form_label(form.internalCode) }}
                    {{ form_widget(form.internalCode) }}
                </div>
                <div class="col-7">
                    <span>Le code machine est composé de 6 caractères pour le type de machine + 1 chiffre de l'année (ex. : 0 pour 2020) + 3 chiffres d'ordre</span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    {{ form_label(form.designation) }}  
                    {{ form_widget(form.designation) }}  
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-6">
                    {{ form_label(form.constructor) }}  
                    {{ form_widget(form.constructor) }}  
                </div>
                <div class="col-6">
                    {{ form_label(form.model) }}
                    {{ form_widget(form.model) }}
                </div>
            </div>
            <div class="row d-flex align-items-end mb-4">
                <div class="col-6">
                    {{ form_label(form.serialNumber) }}
                    {{ form_widget(form.serialNumber) }}
                </div>
                <div class="col-6">
                    {{ form_label(form.workshop) }}
                    {{ form_widget(form.workshop) }}
                </div>
            </div>
            <div class="row d-flex align-items-center mb-4">
                <div class="col-4">
                    {{ form_label(form.buyDate) }}
                    {{ form_widget(form.buyDate) }}
                </div>
            </div>
        </div>
        <div class="col-3">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <button type="submit" class="btn btn-primary pull-right w-100 mt-3">Valider</button>
        </div>
    </div>
{{ form_end(form) }}

