    {% for workorder in machine.workorders %}
        <div class="border border-info rounded p-2 m-1">
            <div class="row">
                <div class="col-5">
                    <span><strong>Numéro : </strong></span>
                    <a href="{{ path('work_order_show', {'id': workorder.id}) }}">{{ workorder.id }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span><strong>Date : </strong></span>
                    {{ workorder.startDate|date('d-m-Y') }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span><strong>Demande : </strong></span>
                    {{ workorder.request }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span><strong>Réalisation : </strong></span>
                    {{ workorder.implementation }}
                </div>
            </div>
        </div>
    {% endfor %}