{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showMachine') }}
{% endblock %}

{% block title %}Machine - Edition{% endblock %}

{% block body %}
    <main class="d-flex justify-content-start mt-5 mb-5">
        <aside class="col-2 displayMd mt-5">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <article>
            <header class="row mb-3 me-5 justify-content-start align-items-top flex-wrap">
                <div class="col-12 col-sm-6 col-md-4">
                    <h1 class="page-title me-5">Edition machine</h1>
                </div>
                <div class="col-7 col-sm-6 col-lg-4 d-flex justify-content-start align-items-base flex-wrap">
                    <a class="btn btn-primary btn-sm me-3 mb-2" href="{{ path('machine_index') }}" role="button">Liste des machines</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('machine/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </header>
            <div class="mt-4 col-12">
                {{ include('machine/_form.html.twig') }}
            </div>
        </article>
    </main>
{% endblock %}