{% extends 'base.html.twig' %}

{% block title %}Machines
{% endblock %}


{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-md-12 col-lg-12 col-xl-10">
			<header>
				<div class="d-flex justify-content-start align-items-center flex-wrap mb-4">
					{% if mode == "selectPreventive" %}
						<h1 class="page-title me-5">Machines -> BT préventif</h1>
					{% elseif mode == "newWorkorder" %}
						<h1 class="page-title me-5">Machine -> BT</h1>
					{% else %}
						<h1 class="page-title me-5">Machines</h1>
					{% endif %}
					{% if mode != 'selectPreventive' and mode != 'workorderSelect' and mode != 'newWorkorder' %}
						<a class="btn btn-primary btn-sm mt-2 mb-3" href="{{ path('machine_new') }}" role="button">Nouvelle machine</a>
					{% endif %}
				</div>
				{# Encart des mahines en haut à droite #}
				<div class="col-12 col-sm-9 col-md-8 col-xl-7 mb-5">
					{% if machinesWithData is defined and machinesWithData is not empty %}
						<div class="border border-primary rounded p-1">
							<h5 class="text-primary mb-2 d-flex align-items-center">Machines du BT préventif :
								{{ machinesWithData|length }}
								{% if mode == 'editPreventive' %}
									<a href="{{ path('template_edit', {'id': documentId, 'mode': mode}) }}" class="btn btn-sm btn-primary ms-4" role="button">Valider</a>
								{% else %}
									<a href="{{ path('template_new') }}" class="btn btn-sm btn-primary ms-4" role="button">Valider</a>
								{% endif %}
							</h5>
							<div class="me-2 p-2 mb-2 ">
								<div class="row mb-1">
									<div class="col-4 text-uppercase font-weight-bold text-primary">Code</div>
									<div class="col-4 text-center text-uppercase font-weight-bold text-primary">Désignation</div>
									<div class="col-4 text-center"></div>
								</div>
								{% for machine in machinesWithData %}
									<div class="row mb-1">
										<div class="col-4">{{ machine.internalCode }}</div>
										<div class="col-4 text-center">{{ machine.designation}}</div>
										<div class="col-4 text-center">
											{% if( mode == 'editPreventive') %}
												<a href="{{ path('remove_machine_from_cart', {'id': machine.id, 'mode': mode, 'documentId': documentId}) }}" style="margin-top: -3px;" class="btn btn-warning btn-sm" role="button">Supp</a>
											{% else %}
												<a href="{{ path('remove_machine_from_cart', {'id': machine.id, 'mode': mode} ) }}" style="margin-top: -3px;" class="btn btn-warning btn-sm" role="button">Supp</a>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</header>
			<section class="row js-filter">
				<div>
					{% include 'machine/_machineList.html.twig' with {machines: machines, mode: mode, documentId: documentId, form: form} only %}
					{# Navigation #}
					<div class="navigation js-filter-pagination mb-5">
						{% include 'machine/_pagination.html.twig' %}
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
