{% extends 'base.html.twig' %}

{% block title %}Machines{% endblock %}

{% block body %}
    <div class="row mt-4 mb-4">
        <div class="col-10 offset-2">
            <div class="row">
                <div class="col-2">
                    <h3>Machines</h3>
                </div>
                {% if machinesWithData is defined and machinesWithData is not empty%}
                    <div class="col-10">
                        <div class="border border-primary rounded p-1">
                            <h5 class="text-primary mb-2">Machines du BT préventif : 
                                {{ machinesWithData|length }}
                                {% if mode == 'editPreventive' %}
                                    <a href="{{ path('template_edit', {'id': templateId, 'mode': mode}) }}" class="btn btn-sm btn-primary ml-4" role="button">Valider</a>
                                {% else %}
                                    <a href="{{ path('template_new') }}" class="btn btn-sm btn-primary ml-4" role="button">Valider</a>
                                {% endif %}
                            </h5>
                            <div class="d-flex flex-wrap justify-content-start mr-2 p-2 mb-2 ">
                                {% for machine in machinesWithData %}
                                    <div class="mr-3 border-dark border rounded p-1 mb-2">
                                        {{ machine.internalCode }} {{ machine.designation}}
                                        {% if( mode == 'editPreventive') %}
                                            <a href="{{ path('remove_machine_from_cart', {'id': machine.id, 'mode': mode, 'templateId': templateId}) }}" style="margin-top: -3px;" class="btn btn-warning btn-sm" role="button">Supp</a>
                                        {% else %}
                                            <a href="{{ path('remove_machine_from_cart', {'id': machine.id, 'mode': mode}) }}" style="margin-top: -3px;" class="btn btn-warning btn-sm" role="button">Supp</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <section class="row machine-js-filter">
        <aside class="col-2">
            {% if mode != 'selectPreventive' %}
                <a class="btn btn-primary btn-sm mt-2 mb-3" href="{{ path('machine_new') }}" role="button">Nouvelle machine</a>
            {% endif %}
            {% include 'machine/_filter.html.twig' %}
        </aside>
        <article class="col-10">
            {% include 'machine/_machineList.html.twig' with {machines: machines, mode: mode, templateId: templateId} only %}
        </article>
            {# display navigation #}
            <div class="col-5 offset-2 navigation js-filter-pagination">
                {% include 'machine/_pagination.html.twig' %}
            </div>
        </article>
    </section>
{% endblock %}