{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('showMachine') }}
{% endblock %}

{% block title %}Machine
{% endblock %}

{% block body %}
	<main>
		<div class="row justify-content-start flex-wrap mt-5">
			{% include 'user/_photo.html.twig' %}
			<article class="col-12 col-xl-10">
				<section class="row justify-content-start align-items-center">
					<div class="mb-3 col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
						<h1 class="page-title me-5">Equipement</h1>
					</div>
					<div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-8 mb-2">
						<div class="d-flex justify-content-start flex-wrap">
							<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_index') }}">Liste équipements</a>
							<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_edit', {'id': machine.id}) }}">Edition</a>
							{# {% if machine.childLevel == 0 %}
								<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_new', {'parentId': machine.id}) }}">+ Sous-machine</a>
							{% endif %} #}
							<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_statistics', {'id': machine.id}) }}">Stats</a>
							{# {% if machine.parent %}
								<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_show', {'id': machine.parent.id}) }}">Parent</a>
							{% endif %} #}
							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_copy', {'id': machine.id}) }}">Copier</a>
								{{ include('machine/_delete_form.html.twig') }}
							{% endif %}
						</div>
					</div>
				</section>
				<section class="mt-5">
					<div class="row">
						<div class="col-12 col-md-8 col-lg-2">
							<strong>Nom :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{% if machine.parent %}
								{{ machine.parent.designation }} ->
							{% endif %}
							{{ machine.designation }}
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-12 col-md-8 col-lg-2">
							<strong>Code :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{{ machine.internalCode }}
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-12 col-md-8 col-lg-2">
							<strong>Modèle :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{% if machine.model %}
								{{ machine.model }}
							{% else %}
								-
							{% endif %}
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-12 col-md-3 col-lg-2">
							<strong>Date achat :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{% if machine.buyDate %}
								{{ machine.buyDate|date('d-m-Y') }}
							{% else %}
								-
							{% endif %}
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-12 col-md-8 col-lg-2">
							<strong>Numéro de série :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{% if machine.serialNumber %}
								{{ machine.serialNumber }}
							{% else %}
								-
							{% endif %}
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-12 col-md-3 col-lg-2">
							<strong>Constructeur :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{{ machine.constructor }}
						</div>
					</div>

					<div class="row mt-2">
						<div class="col-12 col-md-3 col-lg-2">
							<strong>Atelier :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{{ machine.workshop.name }}
						</div>
					</div>
				</section>

				<section>
					{# Pièces détachées liées à la machine #}
					{% if machine.parts is not empty %}
						<div class="row mt-4">
							<div class="col-6 mt-3">
								<h3 class="text-primary">Pièces détachées</h3>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-12 col-md-11 col-lg-10 col-xl-9 mt-2">
								{{ include('machine/_parts.html.twig') }}
							</div>
						</div>
					{% endif %}
				</section>
				
				<section class="col-5 col-sm-10 col-md-10 col-lg-10 col-xl-10">
					{% if machine.imageName %}
						<img style="width: 100%" src="{{ vich_uploader_asset(machine, 'imageFile') | imagine_filter('my_machines_filter') }}" alt="Photo de {{ machine.designation }}"/>
					{% endif %}
				</section>
			</article>
			{# Right aside #}
			<aside class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-5">
				{% if machine.machines|length > 0 %}
					<div class="row mb-3">
						<div class="col">
							<h3 class="d-flex justify-content-center text-primary page-title">Sous-machines</h3>
						</div>
					</div>
					<div class="row">
						{% for machine in machine.machines %}
							<div class="col-6 col-sm-3 col-md-3 col-lg-5 col-xl-4 mb-3 mb-sm-0">
								<a href="{{ path('machine_show', {'id': machine.id}) }}">
									<div class="card mb-3">
										<div class="card-body">
											<p class="card-title">{{ machine.designation }}</p>
											<p class="card-text">{{ machine.constructor }}</p>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</aside>
		</div>
	</main>
{% endblock %}
