{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showMachine') }}
{% endblock %}

{% block title %}Machine{% endblock %}

{% block body %}
    {# {{ dump(machine) }} #}
    <main class="d-flex justify-content-start mt-5">
        {# left aside #}
        <aside class="col-2 displayMd mt-5">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <article class="col-6 displayMd mt-5">
            <header class="d-flex justify-content-start align-items-sm-baseline align-items-md-center flex-wrap">
                <div class="d-flex">
                    <h1 class="page-title me-5">Machine</h1>
                </div>
                <div class="d-flex justify-content-start align-items-baseline flex-wrap">
                    <a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('machine_index') }}" role="button">Liste machines</a>
                    <a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('machine_edit', {'id': machine.id}) }}">Edition</a>
                    <a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('child_machine_add', {'parentId': machine.id}) }}">+ Sous-machine</a>
                    <a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('machine_workorders', {'id': machine.id}) }}">Bons de travail</a>
                    {% if machine.parent %}
                        <a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('machine_show', {'id': machine.parent.id}) }}">Parent</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('machine_copy', {'id': machine.id}) }}">Copier</a>
                        {{ include('machine/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </header>
            <section class="row mt-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-7">
                            <p><strong>Nom : </strong>
                            {% if machine.parent %}
                                {{ machine.parent.designation }} -> 
                            {% endif %}
                            {{ machine.designation }}</p>
                        </div>
                        <div class="col-5">
                            <p><strong>Code : </strong>{{ machine.internalCode }}</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        {% if machine.model %}
                            <div class="col-6">
                                {% if machine.model %}
                                    <p><strong>Modèle : </strong>{{ machine.model }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if machine.buyDate %}
                            <div class="col-6">
                                <p><strong>Date achat : </strong>{{ machine.buyDate|date('d-m-Y') }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mt-4">
                        {% if machine.serialNumber %}
                            <div class="col-6 d-flex justify-content-start">
                                <p><strong>Numéro de série : </strong>{{ machine.serialNumber }}</p>
                            </div>
                        {% endif %}
                        <div class="col-6">
                            <p><strong>Constructeur : </strong>{{ machine.constructor }}</p>
                        </div>
                        
                    </div>
                    <div class="row mt-4">
                        <div class="col-7">
                            <p><strong>Atelier : </strong>{{ machine.workshop.name }}</p>
                        </div>
                    </div>
                </div>
                <div>
                    {# Pièces détachées liées à la machine #}
                    {% if machine.parts is not empty %}
                        <div class="row mt-4">  
                            <div class="col-6 mt-3">
                                <h3 class="text-primary">Pièces détachées</h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 mt-2">
                                {{ include('machine/_parts.html.twig') }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-5 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    {% if machine.imageName %}
                        <img style="width: 100%" src="{{ vich_uploader_asset(machine, 'imageFile') | imagine_filter('my_machines_filter') }}" alt="Photo de {{ machine.designation }}" />
                    {% endif %}
                </div>
            </section>
        </article>
        {# Right aside #}
        {% if machine.machines|length > 0 %}
            <aside class="col-4 displayMd mt-5">
                <div class="row mb-3">
                    <div class="col">
                        <h3 class="d-flex justify-content-center text-primary page-title">Sous-machines</h3>
                    </div>
                </div>
                <div class="row">
                    {% for machine in machine.machines %}
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <a href="{{ path('machine_show', {'id': machine.id}) }}">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-title">{{ machine.designation }}</p>
                                        <p class="card-text">{{ machine.constructor }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </aside>
        {% endif %}
    </main>
{% endblock %}