{% extends 'base.html.twig' %}

{% block title %}Machine{% endblock %}

{% block body %}
    <div class="row mt-5 mb-2">
        <div class="col-6 d-flex justify-content-between align-items-center">
            <h3 class="text-primary">Machine</h3>
            <div class="d-flex justify-content-start">
                <a class="btn btn-primary btn-sm mr-2" href="{{ path('machine_index') }}" role="button">Liste machines</a>
                <a class="btn btn-primary btn-sm mr-2" href="{{ path('machine_edit', {'id': machine.id}) }}">Edition</a>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('machine/_delete_form.html.twig') }}
                    <a class="btn btn-primary btn-sm ml-2" href="{{ path('machine_copy', {'id': machine.id}) }}">Copier</a>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <h3 class="text-primary">Bons de travail</h3>
        </div>
    </div>

    <article class="row">
        <section class="col-6">
            <div class="border border-info rounded p-2">
                <p><strong>Code : </strong>{{ machine.internalCode }}</p>
                <p><strong>Nom : </strong>{{ machine.designation }}</p>
                {% if machine.buyDate %}
                    <p><strong>Date achat : </strong>{{ machine.buyDate|date('d-m-Y') }}</p>
                {% endif %}
                <p><strong>Constructeur : </strong>{{ machine.constructor }}</p>
                {% if machine.model %}
                    <p><strong>Modèle : </strong>{{ machine.model }}</p>
                {% endif %}
                <p><strong>Numéro de série : </strong>{{ machine.serialNumber }}</p>
                <p><strong>Atelier : </strong>{{ machine.workshop.name }}</p>
            </div>
        </section>
        <section class="col-6">
            <div>
                {% if machine.workorders|length > 0 %}
                    {{ include('machine/_workorders.html.twig') }}
                {% else %}
                    <span>Il n'y a aucun BT enregistré</span>
                {% endif %}
            </div>
        </section>
    </article>
    {% if machine.parts is not empty %}
        <div class="row">  
            <div class="col-6 mt-3">
                <h3 class="text-primary">Pièces détachées</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-2">
                {{ include('machine/_parts.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}