{% extends 'base.html.twig' %}

{% block title %}Machine{% endblock %}

{% block body %}
    <header class="row mt-5">
        <div class="col-3 offset-2 d-flex justify-content-between align-items-center">
            <h3 class="text-primary">Machine</h3>
            <a class="btn btn-primary btn-sm mr-2" href="{{ path('machine_index') }}" role="button">Liste machines</a>
            <a class="btn btn-primary btn-sm mr-2" href="{{ path('machine_edit', {'id': machine.id}) }}">Edition</a>
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('machine/_delete_form.html.twig') }}
                <a class="btn btn-primary btn-sm ml-2" href="{{ path('machine_copy', {'id': machine.id}) }}">Copier</a>
            {% endif %}
        </div>
    </header>
    <div class="row mt-4">
        <aside class="col-2 mt-4">
            {% include 'user/_photo.html.twig' %}
        </aside>
        <div class="col-5">
            <div class="row mt-5">
                <div class="col-5">
                    <p><strong>Code : </strong>{{ machine.internalCode }}</p>
                </div>
                <div class="col-7">
                    <p><strong>Nom : </strong>{{ machine.designation }}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-5 d-flex justify-content-start">
                    {% if machine.buyDate %}
                        <p><strong>Date achat : </strong>{{ machine.buyDate|date('d-m-Y') }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-5">
                    <p><strong>Constructeur : </strong>{{ machine.constructor }}</p>
                </div>
                <div class="col-5">
                    {% if machine.model %}
                        <p><strong>Modèle : </strong>{{ machine.model }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-5 d-flex justify-content-start">
                    <p><strong>Numéro de série : </strong>{{ machine.serialNumber }}</p>
                </div>
                <div class="col-6">
                    <p><strong>Atelier : </strong>{{ machine.workshop.name }}</p>
                </div>
            </div>
        
    
            {# Pièces détachées liées à la machine #}
            {% if machine.parts is not empty %}
                <div class="row mt-4">  
                    <div class="col-6 mt-3">
                        <h3 class="text-primary">Pièces détachées</h3>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 mt-2">
                        {{ include('machine/_parts.html.twig') }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-5">
            {% if machine.workorders|length > 0 %}
                <h3 class="text-primary">Bons de travail</h3>
                {{ include('machine/_workorders.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}