{% extends 'base.html.twig' %}

{% block title %}Statistiques machines
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/indicator.css">
{% endblock %}


{% block body %}
	<main>
		<div class="row justify-content-start flex-wrap mt-5">
			{% include 'user/_photo.html.twig' %}
			<article class="col-12 col-xl-10">
				<section class="d-flex justify-content-start align-items-center flex-wrap mb-5">
					<h1 class="page-title me-5 mb-2">Machine stats</h1>
					<div class="d-flex justify-content-start flex-wrap">
						<a class="btn btn-primary btn-sm me-2 mb-2" role="button" href="{{ path('machine_index') }}">Liste machines</a>
						<a class="btn btn-primary btn-sm me-2 mb-2" href="{{ path('machine_show', {'id': machine.id}) }}">Retour à la machine</a>
					</div>
				</section>
				<section class="mt-3">
					<div class="row">
						<div class="col-12 col-md-8 col-lg-2">
							<strong>Nom :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{% if machine.parent %}
								{{ machine.parent.designation }}
								->
							{% endif %}
							{{ machine.designation }}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-12 col-md-8 col-lg-2">
							<strong>Code :</strong>
						</div>
						<div class="col-12 col-md-8 col-lg-4">
							{{ machine.internalCode }}
						</div>
					</div>
				</section>
				<section class="mt-4 d-flex justify-content-start flex-wrap text-align-center">
					<div class="col-12 col-md-8 col-lg-2">
						<strong>Période :</strong>
					</div>
					{{ form_start(form, {'attr': {'id': 'formDate', 'class': 'd-flex justify-content-start align-items-center flex-wrap'}}) }}
					<div class="me-3 mb-2 d-flex justify-content-start align-items-center">
						<label class="form-label">Du :</label>
						{{ form_widget(form.startDate) }}
					</div>
					<div class="me-3 mb-2 d-flex justify-content-start align-items-center">
						<label class="form-label">Au :
						</label>
						{{ form_widget(form.endDate) }}
					</div>
					<button id="indicatorSubmit" type="submit" class="btn btn-primary btn-sm mb-2">Valider</button>
					{{ form_end(form) }}
				</section>
				<section class="row mt-4">
					<div id="graphique" class="col-11 col-lg-6 mt-3">
						<canvas id="preventiveCurative"></canvas>
					</div>
					<div id="graphique" class="col-11 col-lg-6 mt-3">
						<canvas id="partsvalue"></canvas>
					</div>
				</section>
				<section class="mb-5">
					<div class="mb-3">
						<h3 class="page-sub-title">Plus d'infos :</h3>
					</div>
					<div class="d-flex justify-content-start">
						<div class="me-5">
							<div class="d-flex justify-start align-items-center">
								<span class="me-2">Nombre total de BT :</span>
								<span id="totalBtNumber">{{ totalWorkorder }}</span>
							</div>
							<div class="d-flex justify-start align-items-center">
								<span class="me-2">Nombre total de BT Préventifs :</span>
								<span id="totalBtPréventifNumber">{{ totalPreventive }}</span>
							</div>
							<div class="d-flex justify-start align-items-center">
								<span class="me-2">Nombre total de BT Curatifs :</span>
								<span id="totalBtCuratifNumber">{{ totalCurative }}</span>
							</div>
						</div>
						<div>
							<div class="d-flex justify-start align-items-center">
								<span class="me-2">Temps total d'intervention :</span>
								<span id="totalBtTime"></span>
							</div>
							<div class="d-flex justify-start align-items-center">
								<span class="me-2">Temps total de préventifs :</span>
								<span id="totalBtPréventifTime"></span>
							</div>
							<div class="d-flex justify-start align-items-center">
								<span class="me-2">Temps total de curatifs :</span>
								<span id="totalBtCuratifTime"></span>
							</div>
						</div>
					</div>
				</section>
			</article>
		</div>


		<div id="chartLabels" data-chartdates="{{ months }}"></div>

		<div id="chartData1" data-dataset1="{{ preventiveTime }}"></div>

		<div id="chartData2" data-dataset2="{{ curativeTime }}"></div>

		<div id="chartData3" data-dataset3="{{ partsValue }}"></div>


	</main>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" defer></script>
	<script src="/assets/js/indicators.js" defer></script>
	<script src="/assets/js/machineStats.js" defer></script>
{% endblock %}
