{{ form_start(form) }}
    <div class="row" >
        <div>
            <h4 class="text-primary">Appel</h4>
            <div class="d-inline-flex justify-content-start align-items-center flex-wrap">
                <div class="on-call-day me-5">
                    {{ form_errors(form.callDay) }}
                    {{ form_label(form.callDay) }}
                    {{ form_widget(form.callDay) }}
                </div>
                <div class="on-call-hour me-5">
                    {{ form_errors(form.callTime) }}
                    {{ form_label(form.callTime) }}
                    {{ form_widget(form.callTime) }}
                </div>
                <div class="on-call-who">
                    {{ form_errors(form.whoCalls) }}
                    {{ form_label(form.whoCalls) }}
                    {{ form_widget(form.whoCalls) }}
                </div>
            </div>
        </div>
        <div>
            <h4 class="text-primary mt-4">Trajet</h4>
            <div class="d-flex justify-content-start">
                <div class="on-call-travel-hours me-5">
                    {{ form_errors(form.travelhours) }}
                    {{ form_label(form.travelhours) }}
                    {{ form_widget(form.travelhours) }}
                </div>
                <div class="on-call-travel-minutes me-5">
                    {{ form_errors(form.travelMinutes) }}
                    {{ form_label(form.travelMinutes) }}
                    {{ form_widget(form.travelMinutes) }}
                </div>
                <div class="on-call-arrivall-time">
                    {{ form_errors(form.arrivalTime) }}
                    {{ form_label(form.arrivalTime) }}
                    {{ form_widget(form.arrivalTime) }}
                </div>
            </div>
        </div>
        <div>
            <h4 class="text-primary mt-4">Intervention</h4>
            <div class="d-flex justify-content-start flex-column">
                <div class="on-call-txt-box">
                    {{ form_errors(form.reason) }} 
                    {{ form_label(form.reason) }}  
                    {{ form_widget(form.reason) }}  
                </div>
                <div class="on-call-txt-box">
                    {{ form_errors(form.task) }} 
                    {{ form_label(form.task) }}  
                    {{ form_widget(form.task) }}  
                </div>
            </div>
        </div>
        <div>
            <h4 class="text-primary mt-4">Durée</h4>
            <div class="d-flex justify-content-start">
                <div class="on-call-travel-hours me-5">
                    {{ form_errors(form.durationHours) }} 
                    {{ form_label(form.durationHours) }}  
                    {{ form_widget(form.durationHours) }}  
                </div>
                <div class="on-call-travel-hours">
                    {{ form_errors(form.durationMinutes) }} 
                    {{ form_label(form.durationMinutes) }}  
                    {{ form_widget(form.durationMinutes) }}  
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-5">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
