{% for onCall in onCalls %}
    <tr
    {% if onCall.status == 1 %}
         style="background: #7af27a;"
    {% endif %}
    >
        <td data-label="Date" class="font_size_table">
            <a class="btn btn-sm btn-primary index-button" href="{{ path('onCall_show', {'id': onCall.id}) }}">{{ onCall.callDay|date('d-m-Y') }}</a>
        </td>
        <td data-label="Heure" class="text-center font_size_table">{{ onCall.callTime|date('H:i:s') }}</td>
        <td data-label="Problème" class="text-center font_size_table">{{ onCall.reason }}</td>
        <td data-label="travail" class="text-center font_size_table">{{ onCall.task }}</td>
        <td data-label="technicien" class="text-center font_size_table">{{ onCall.user.username }}</td>
        <td data-label="Status" class="text-center font_size_table">
        {% if onCall.status == 0 %}
            En cours
        {% else %}
            Traité
        {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="14">Il n'y a aucun rapport d'astreinte</td>
    </tr>
{% endfor %}