{% extends 'base.html.twig' %}

{% block title %}Rapport d'astreinte
{% endblock %}

{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-12 col-lg-6">
			<header class="row mb-3 justify-content-start align-items-top flex-wrap">
				<div class="col-5 col-md-6 col-lg-4">
					<h3 class="text-primary">Rapport d'astreinte</h3>
				</div>
				<div class="col-7 col-sm-6 col-lg-5 col-xl-4 d-flex justify-content-start align-items-center flex-wrap">
					<a class="btn btn-primary btn-sm me-2" href="{{ path('onCall_index') }}" role="button">Liste des rapports</a>
					<a class="btn btn-primary btn-sm me-2" href="{{ path('onCall_edit', {'id': onCall.id}) }}">Edition</a>
					{% if is_granted('ROLE_ADMIN') %}
						{{ include('onCalls/_delete_form.html.twig') }}
					{% endif %}
				</div>
			</header>
			<section class="row align-items-start">
				<div class="col-11 mb-5">
					<h4 class="text-primary">Appel</h4>
					<div class="row border border-warning rounded p-2">
						<div class="col-4">
							<span class="fw-bold">Date :
							</span>
							{{ onCall.callDay ? onCall.callDay|date('d-m-Y') : '' }}
						</div>
						<div class="col-4">
							<span class="fw-bold">Heure :
							</span>
							{{ onCall.callTime ? onCall.callTime|date('H:i:s') : '' }}
						</div>
						<div class="col-4">
							<span class="fw-bold">Qui :
							</span>
							{{ onCall.whoCalls }}
						</div>
					</div>
				</div>
				<div class="col-11 mb-5">
					<h4 class="text-primary">Trajet</h4>
					<div class="row border border-warning rounded p-2">
						<div class="col-4">
							<span class="fw-bold">Durée h. :
							</span>
							{{ onCall.travelhours }}
						</div>
						<div class="col-4">
							<span class="fw-bold">Durée m. :
							</span>
							{{ onCall.travelMinutes }}
						</div>
						<div class="col-4">
							<span class="fw-bold">Heure d'arrivée :
							</span>
							{{ onCall.arrivalTime ? onCall.arrivalTime|date('H:i:s') : '' }}
						</div>
					</div>
				</div>
				<div class="col-11 mb-5">
					<h4 class="text-primary">Intervention</h4>
					<div class="row border border-warning rounded p-2">
						<div class="col-12 mb-2">
							<span class="fw-bold">Problème :
							</span>
							{{ onCall.reason |nl2br}}
						</div>
						<div class="col-12 mb-2">
							<span class="fw-bold">Action :
							</span>
							{{ onCall.task |nl2br }}
						</div>
						<div class="col-12 mb-2">
							<span class="fw-bold">Durée</span>
							<div class="row">
								<div class="col-4">
									<span class="fw-bold">Heure :
									</span>
									{{ onCall.durationHours }}
								</div>
								<div class="col-4">
									<span class="fw-bold">Minutes :
									</span>
									{{ onCall.durationMinutes }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-11 mb-5">
					<h4 class="text-primary">Statut</h4>
					<div class="row border border-warning rounded p-2">
						<div class="col-5 d-flex justify-content-start">
							{% if onCall.status == 0 %}
								<h4>En cours</h4>
							{% else %}
								<h4 style="color: #7af27a;">Traité le
									{{onCall.transmitted|date('d-m-Y')}}</h4>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		</article>
	</main>
{% endblock %}
