<tr style="background-color: #60dd28">
	<td>{{ form_widget(form.number) }}</td>
	<td>{{ form_widget(form.designation) }}</td>
	<td>{{ form_widget(form.date) }}</td>
	<td>{{ form_widget(form.provider) }}</td>
	<td>{{ form_widget(form.createdBy) }}</td>
	<td>{{ form_widget(form.investment) }}</td>
</tr>
