<section class="row mt-5">
	<div class="mb-4 col-12 col-lg-12 col-xl-12">
		{{ form_start(form) }}

		<div class="account_type_line">
			{% for choice in form.accountType %}
				{{ form_widget(choice) }}
				{{ form_errors(choice) }}
			{% endfor %}
		</div>

		<div class="number_date_line">
			<div class="order_number">
				<p class="order_number_label">Numéro :</p>
				<div class="order_letter_number">
					<input type="text" id="lettersField" name="lettersField" readonly>
					<div class="order_number_input">
						{{ form_widget(form.number) }}
						{{ form_errors(form.number) }}
					</div>
				</div>
			</div>
			<div class="date_line">
				<p class="order_date_label">Date :</p>
				<div>
					{{ form_widget(form.date) }}
					{{ form_errors(form.date) }}
				</div>
			</div>
		</div>

		<div class="provider_line">
			<p class="provider_label">Fournisseur :</p>
			<div class="provider_input">
				{{ form_widget(form.provider) }}
				{{ form_errors(form.provider) }}
			</div>
		</div>

		<div class="designation_line">
			<p class="designation_label">Désignation :</p>
			<div class="désignation_input">
				{{ form_widget(form.designation) }}
				{{ form_errors(form.designation) }}
			</div>
		</div>

		<div class="remark_line">
			<p class="remark_label">Remarque :</p>
			<div class="remark_input">
				{{ form_widget(form.remark) }}
				{{ form_errors(form.remark) }}
			</div>
		</div>

		<div class="row">
			<div class="col-5 col-sm-3 col-xl-2 text-center">
				<button type="submit" class="btn btn-primary pull-right w-100 mt-3">Valider</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
</section>
