{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/order_new_and_edit.css">
	<link rel="stylesheet" href="/assets/css/orderCommon.css">
{% endblock %}


{% block body %}
	<main class="row justify-content-start mt-5">
		{% include 'user/_photo.html.twig' %}
		<article class="col-10 col-md-10">
			<header>
				<h1 class="page-title">Nouvelle commande</h1>
				<div class="links">
					<a class="btn btn-primary btn-sm" href="{{ path('order_index') }}" role="button">Retour à la liste</a>
				</div>
			</header>


			{{ include('order/_account_buttons_line.html.twig')}}
			{{ include('order/_form.html.twig') }}
		</article>
	</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/assets/js/orderNew.js" defer></script>
{% endblock %}
