
<div class="text-center mt-3 d-flex flex-column ">
    {% if app.user.imageName %}
        <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('my_middle_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
    {% else %}
        <img src="{{ asset('/images/technicien.jpg') | imagine_filter('my_middle_filter') }}" alt="Photo d'identité de {{ app.user.username }}" />
    {% endif %}
    <div class="mt-2 border borer-danger rounded">
        {{ app.user.firstName ~ " " ~ app.user.lastName }}
    </div>
</div>
