{% for user in users %}
    <tr>
        <th scope="row">
            <a href="{{ path('user_edit', { 'id': user.id }) }}">
               {{ user.username}}
            </a>
        </th>
        <td class="text-center">
            {% if user.roles | length > 1 %}
                {% for role in user.roles %} 
                    {{ role }}
                    {% if not loop.last %}
                        -
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for role in user.roles %} 
                    {{ role }}
                {% endfor %}
            {% endif %}
        </td>
        <td class="text-center">{{ user.email }}</td>
        <td class="text-center">{{ user.phoneNumber }}</td>
        <td class="text-center">{{ user.firstName }}</td>
        <td class="text-center">{{ user.lastName }}</td>
        <td class="text-center">
            <form method="post" action="{{ path('user_delete', {id : user.id }) }}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                <button type="submit" class="btn"><i class="bi bi-trash"></i></button>
                <span data-path="{{ path('user_delete', { id : user.id }) }}"></span>
            </form>
        </td>                          
    </tr>
{% endfor %}