{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="row mt-4 align-items-center">
        <div class="col-2 offset-2">
            <h1>Profil</h1>
        </div>
        <div class="col-3">
            <a class="btn btn-primary btn-sm" href="{{ path('user_edit', {'id': user.id}) }}" role="button">Modification</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <div class="row align-items-center">
                <div class="col-5">
                    <p class="profil-font-size">Identifiant : {{ user.username}}</p>
                    <p class="profil-font-size">Organisation : {{ user.organisation.designation}}</p>
                    <p class="profil-font-size">Nom : {{ user.firstName ~ " " ~ user.lastName}}</p>
                    <p class="profil-font-size">Email : {{ user.email }}</p>
                    <p class="profil-font-size">Téléphone : {{ user.phoneNumber }}</p>
                    <p class="profil-font-size">Roles :
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                    </p>
                </div>
                <div class="col-4">
                    {% if user.imageName %}
                    <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="Photo d'identité de {{ user.username }}" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}